<div class="container">
    <div class="row">
        <div class="profile">

            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12"><span class="lbUser"><%- user.username %></span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><span class="lbLever">Lever Of User</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-4"><img src="/images/df_ava.jpg" width="60" height="60"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <p>First Name : <%- user.firstname %></p>

                                        <p>Last Name : <%- user.lastname %></p>

                                        <p>Join Date : <%- user.createdAt %></p>

                                        <p>Total lesson : value</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser">List Friends</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser">List Joined Group</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#info">Information</a></li>
                    <li><a data-toggle="tab" href="#friend">Friends</a></li>
                    <li><a data-toggle="tab" href="#lesson">User's studied lession</a></li>
                </ul>
                <div class="tab-content">
                    <div id="info" class="tab-pane fade in active">
                        <!--show use's info-->
                        <div id="default-show">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10 form-info">
                                    <div class="row">
                                        <div class="col-sm-10"><p class="leadInfo"><%- user.username %></p></div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-sm btn-edit" id="btnShow">Edit <span
                                                        class="glyphicon glyphicon-edit"></span></button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="detail-info"></div>
                                    <p>First Name : <span><%- user.firstname %></span></p>

                                    <p>Last Name : <span><%- user.lastname %></span></p>

                                    <p>E-Mail : <span><%- user.email %></span></p>

                                    <p>E-Telephone : <span><%- user.telephone %></span></p>

                                    <p>Fax : <span><%- user.fax %></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10 form-info">
                                    <p class="leadInfo">User Address</p>
                                    <hr>
                                    <% if(user != null && user.yourAddress != null){ %>
                                    <p>Company : <%- user.yourAddress[0].company %></p>

                                    <p>Address : <%- user.yourAddress.address %></p>

                                    <p>City : <%- user.yourAddress.city %></p>

                                    <p>Post Code : <%- user.yourAddress.postCode %></p>

                                    <p>Country : <%- user.yourAddress.country %></p>
                                    <% } else{ %>
                                    <p>Company : <%- user.yourAddress%></p>

                                    <p>Address : <%- user.yourAddress %></p>

                                    <p>City : <%- user.yourAddress %></p>

                                    <p>Post Code : <%- user.yourAddress%></p>

                                    <p>Country : <%- user.yourAddress %></p>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                        <!--form Edit user's Info , form is hidden-->
                        <div id="default-hide">
                            <div class="row">
                                <br>

                                <div class="col-sm-offset-1 col-sm-10">
                                    <p class="leadInfo">User Name</p>
                                    <hr>
                                    <label class="col-sm-3 control-label" for="input-firstname">First Name :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="firstname" value=""
                                                  placeholder="Your First Name" id="input-firstname">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-lastname">last Name :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="lastname" value=""
                                                  placeholder="Your Last Name" id="input-lastname">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-email">Your email :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="email" value=""
                                                  placeholder="Your email" id="input-email">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-telephone">E-Telephone :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="telephone" value=""
                                                  placeholder="Your telephone" id="input-telephone">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-fax">Fax :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="fax" value=""
                                                  placeholder="Your fax" id="input-fax">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <p class="leadInfo">User Address</p>
                                    <hr>
                                    <label class="col-sm-3 control-label" for="input-company">Company :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="CompanyUser" value=""
                                                  placeholder="Your Company" id="input-company">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-address">Address :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="addressUser" value=""
                                                  placeholder="Your Address" id="input-address">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-city">City :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="cityUser" value=""
                                                  placeholder="Your City" id="input-city">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-postCode">Post Code :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="postCode" value=""
                                                  placeholder="Your PostCode" id="input-postCode">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-country"><font color="red"><b>*</b></font>Country</label>

                                    <div class="col-sm-9">
                                        <p><select name="country_id" id="input-country" class="form-control">
                                                <option value=""> --- Please Select ---</option>
                                            </select>
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-state"><font
                                                color="red"><b>*</b></font>Region / State</label>

                                    <div class="col-sm-9">
                                        <p><select name="state_id" id="input-state" class="form-control">
                                                <option value=""> --- Please Select ---</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <p>

                            <div class="row">
                                <div class="col-sm-offset-8 col-sm-4 pull-left">
                                    <button type="button" class="btn btn-sm btn-edit" id="btnSaveEdit">Save <span
                                                class="glyphicon glyphicon-saved"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="friend" class="tab-pane fade">
                        <div class="row">
                            <div class=" col-sm-12 form-listFriend">
                                <div class="row">
                                    <div class="form-search">
                                        <form name="" action="" method="">
                                            <div class="col-sm-offset-7 col-sm-3">
                                                <input class="form-control input-sm" name="tbSearch" value=""
                                                       id="input-search" placeholder="Search By Name" type="text">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" class="btn btn-primary btnSearch"><span
                                                            class="glyphicon glyphicon-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="pre-scrollable infoUser mCustomScrollbar" data-mcs-theme="dark">
                                    <!--start a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--finish a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lesson" class="tab-pane fade">
                        <div class="row">
                            <div class="lessonSt">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-search">
                                            <form action="" method="">
                                                <div class="col-sm-offset-7 col-sm-3">
                                                    <input class="form-control input-sm" name="tbSearch" value=""
                                                           id="input-searchLesson" placeholder="Search By Name"
                                                           type="text">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="submit" class="btn btn-primary btnSearch"><span
                                                                class="glyphicon glyphicon-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="pre-scrollable infoUser mCustomScrollbar" data-mcs-theme="dark">
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">Tr?n v?n tuy?n</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
</div>


<!--<div class="col-sm-12 content"><h1>Infomation user </h1></div>-->
<!--<div class="col-sm-6">-->
<!--<% if(user.admin){ %>-->
<!--<td><img src="/images/admin.png"/> Admin</td>-->
<!--<% } else{ %>-->
<!--<td><img src="/images/pawn.png"/>Member</td>-->
<!--<% } %>-->
<!--<input type="hidden" value="<%- user.id %>" id="hiddien_Id">-->
<!--<p> </p>-->

<!--<p>Email: <%- user.email %></p>-->

<!--<p>Address: <%- user.address %></p>-->

<!--<p>Website: <%- user.website %></p>-->

<!--<a class="btn btn-danger btn-group-lg" href="/user/edit/<%= user.id %>">Edit</a>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<div class="row">-->
<!--<form action="/user/findBuddy" method="POST">-->
<!--<input type="hidden" value="<%- user.id %>" name="idUser">-->
<!--<button type="submit" class="btn btn-warning">List Friends</button>-->
<!--</form>-->
<!--<div class="col-sm-3">-->
<!--Search Friend:-->
<!--</div>-->
<!--<div class="col-sm-9">-->
<!--&lt;!&ndash;<form class="form-inline" action="/user/searchUser" method="POST">&ndash;&gt;-->
<!--<form class="form-inline">-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Enter username friend" name="username" id="username">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button type="button" class="btn btn-primary" id="submit">Search Friend</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div id="info-User"></div>-->
<!--</div>-->