<div class="vocabulary content clearfix">
    <div class="container">
        <div class="row">
            <h2 class="text-center clearfix">Learning Your Self</h2>

            <p class="text-center desc-home">Hiển thị những group học tiếng nhật của bạn bè trong list friends của bạn, bạn join vào để học cùng nhau nhé</p>

            <p class="text-center desc-home"><i><a>View more all</a></i></p>
            <!--Show bool user History-->
            <%if(bookUseHistories!=undefined && bookUseHistories.length>0){%>
              <%bookUseHistories.forEach(function(bookUse){%>
                <div class="col-sm-6">
                    <div class="vocabulary-item">
                        <div class="info">
                            <h3><a><%=bookUse.bookMaster.name%></a></h3>
                            <!--Show miss following lesson-->
                            <p>Till now you have miss following lesson</p>
                            <%var missLessons = undefined /*bookUse.getMissLesson()*/%>
                            <%if(missLessons!=undefined && missLessons.length>0){%>
                              <%missLessons.forEach(function(missLesson){%>
                                  <div class="col-sm-3">
                                    <div class="info-lesson label-warning"><a><%= missLesson.subLesson%></a></div>
                                  </div>
                              <%});%> <!--End for-->
                            <%} else {%>
                                <h5>don't miss following lesson</h5>
                            <%}%> <!--End if-->
                            <!--Ended Show miss following lesson-->

                            <!--Show learn history-->
                            <div class="row info-learning">
                                <%if(bookUse.userLearnHistories!=undefined && bookUse.userLearnHistories.length>0){%>
                                <%bookUse.userLearnHistories.forEach(function(userLearn){%>
                                  <div class="col-sm-9">
                                    <!--<span class="label label-primary"><%=userLearn.lesson%></span>-->
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> You have done <%=userLearn.subLesson%> on <%=userLearn.lesson%></p>
                                  </div>
                                  <div class="col-sm-3">
                                    <a class="join-learn btn label-danger">Continue</a>
                                  </div>
                                <%});%> <!--End for-->
                                <%} else {%>
                                <h5>No learn history</h5>
                                <%}%> <!--End if-->
                            </div>
                            <!--Ended Show learn history-->
                            <p class="text-center desc-home"><i><a>View more all</a></i></p>
                        </div>
                    </div>
                </div>
              <%});%> <!--End for-->
            <%} else {%>
            <div><h1>No Content</h1></div>
            <%}%> <!--End if-->
        </div>
    </div>
</div>
