<!--<script type="text/javascript">
    window.onload = function () {
        $(".bookMaterIdClass").each(function () {
            var bookId = $(this).val();
            var startDate = $("#startDate" + bookId).val();
            var finishDate = $("#finishDate" + bookId).val();
            var learningId = $("#learningId" + bookId).val();
            var listLesson = $("listLesson" + bookId).val();
            alert(listLesson);
            var data = {
                bookId: bookId,

                startDate: startDate,
                finishDate: finishDate,
                learningId: learningId
            };
            $.ajax({
                method: "GET",
                url: "/japtool/Learning/getMissLesson",
                data: data
            }).done(function (data) {
                console.log(data);
                data.forEach(function (item) {
                    $("#" + bookId).append(
                            '<div class="col-sm-3">' +
                            '<div class="info-lesson label-warning"><a>' + item.lesson + ' </a></div>' +
                            '</div>'
                    );
                });

            });

        });

    };
</script>-->

<div class="vocabulary content clearfix">
    <div class="container">
        <% if(selfLearnings != undefined && selfLearnings.length > 0){ %>
        <% selfLearnings.forEach(function(selfLearning, index){ %>
        <h2 class="text-left clearfix"><%= selfLearning.bookMaster.name %></h2>

        <div class="row">

            <% for(var j = 0;j < b[index].length;j++){ %>
            <% var a = false; %>
            <% var d; %>
            <% for(var i = 0;i < selfLearning.userLearnHistories.length;i++){ %>
            <% if(b[index][j] == selfLearning.userLearnHistories[i].lesson){ %>
            <% a = true; %>
            <% if(selfLearning.userLearnHistories[i].status){ %>
            <% if(selfLearning.userLearnHistories[i].status == 'passed'){ %>
            <% d = 1; %>
            <% }else if(selfLearning.userLearnHistories[i].status == 'false'){ %>
            <% d = 2; %>
            <% } %>
            <% } %>
            <% } %>
            <% } %>

            <% if(a == true){ %>
            <% if(d == 1){ %>
            <div class="col-sm-1" style="padding-bottom: 15px">
                <div class="info-lesson label-success"><a><%= b[index][j] %></a></div>
            </div>
            <% }else if(d == 2){ %>
            <div class="col-sm-1" style="padding-bottom: 15px">
                <div class="info-lesson label-danger"><a><%= b[index][j] %></a></div>
            </div>
            <% }else{ %>
            <div class="col-sm-1" style="padding-bottom: 15px">
                <div class="info-lesson label-warning"><a><%= b[index][j] %></a></div>
            </div>
            <% } %>
            <% }else{ %>
            <div class="col-sm-1" style="padding-bottom: 15px">
                <div class="info-lesson label-primary"><a><%= b[index][j] %></a></div>
            </div>
            <% } %>

            <% } %>

            <!--Show bool user History-->


        </div>
        
        <% }); %>
        <% } else { %>
        <div><h1><%= __("No Content") %></h1></div>
        <% } %>
    </div>
</div>
