<% _.each(listItems, function (item) { %>
<div class="col-sm-2 col-xs-3 col-md-1">
    <div class="info-lesson-home label-home" id="<%= item.id %>"><a
                href="<%= item.id %>"><%= item.lesson %></a></div>
</div>
<% }) %>
<script type="text/javascript">
    var lessonSum = 0;
    <% _.each(selfLesson, function (selfLessonItem) { %>
    //    Status button
    <% if(selfLessonItem.status || selfLessonItem.status != undefined){ %>
        <% if(selfLessonItem.status == 'passed'){ %>
            $("#<%= selfLessonItem.bookDetail %>").removeClass('label-home');
            $("#<%= selfLessonItem.bookDetail %>").addClass('label-success');
            lessonSum++;
            $(".lesson-pass-<%= selfLessonItem.selfLearning %>").text(lessonSum);
        <% }else{ %>
            $("#<%= selfLessonItem.bookDetail %>").removeClass('label-home');
            $("#<%= selfLessonItem.bookDetail %>").addClass('label-danger');
            lessonSum++;
            $(".lesson-danger-<%= selfLessonItem.selfLearning %>").html(lessonSum);
        <% } %>
    <% } else{ %>
        $("#<%= selfLessonItem.bookDetail %>").removeClass('label-home');
        $("#<%= selfLessonItem.bookDetail %>").addClass('label-warning');
        lessonSum++;
        $(".lesson-warning-<%= selfLessonItem.selfLearning %>").html(lessonSum);
    <%}%>
    <%})%>

</script>