<% _.each(listItems, function (listItemsL) { %>
    <% _.each(listItemsL, function (item) { %>
        <div class="col-sm-12">
            <h3><a class="text-primary"><%= item.name %></a></h3>
        </div>
        <div class="col-sm-2">
            <p>Category: <%= item.type %></p>
        </div>
        <div class="col-sm-2">
            <p>Level: <%= item.level %></p>
        </div>
        <div class="col-sm-2">
            <p>Lessoned: 3 Lesson</p>
        </div>
        <div class="col-sm-2">
            <p>Pass: 2 Lesson</p>
        </div>
        <div class="col-sm-2">
            <p>Failed: 1 Lesson</p>
        </div>
        <div class="col-sm-2">
            <p>Tổng có: <%= item.lessonNum %></p>
        </div>
        <div class="info-desc clearfix">
            <% _.each(item.bookDetails, function (itemLesson) { %>
            <div class="col-sm-2 col-xs-3 col-md-1">
                <div class="info-lesson label-danger"><a href="<%= itemLesson.id %>"><%= itemLesson.lesson %></a></div>
            </div>
            <%})%>
        </div>

    <% }) %>
<% }) %>

