<% _.each(listItems, function (listItem) { %>
      <div class="col-sm-2 col-xs-3 col-md-1">
        <div class="info-lesson-home label-home" id="<%= listItem.id %>"><a><%= listItem.lesson %></a></div>
      </div>
<% }) %>

<script type="text/javascript">
    var lessonSum = 0;
<% _.each(moreSelfLesson, function (moreSelfLessonItem) { %>
<% if(moreSelfLessonItem.status){ %>
<% if(moreSelfLessonItem.status == 'passed'){ %>
$("#<%= moreSelfLessonItem.bookDetail %>").removeClass('label-home');
$("#<%= moreSelfLessonItem.bookDetail %>").addClass('label-success');
    lessonSum++;
    $(".lesson-pass-<%= moreSelfLessonItem.selfLearning %>").text(lessonSum);
<% }else{ %>
$("#<%= moreSelfLessonItem.bookDetail %>").removeClass('label-home');
$("#<%= moreSelfLessonItem.bookDetail %>").addClass('label-danger');
    lessonSum++;
    $(".lesson-pass-<%= moreSelfLessonItem.selfLearning %>").text(lessonSum);
<% } %>
<% } else{ %>
$("#<%= moreSelfLessonItem.bookDetail %>").removeClass('label-home');
$("#<%= moreSelfLessonItem.bookDetail %>").addClass('label-warning');
    lessonSum++;
    $(".lesson-pass-<%= moreSelfLessonItem.selfLearning %>").text(lessonSum);
<%}%>
<%})%>
</script>