<div class="container">
    <div class="row">
        <div class="profile">

            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12"><span class="lbUser">Username</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><span class="lbLever">Lever Of User</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-4"><img src="../images/df_ava.jpg" width="60" height="60"/></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <p>First Name : value</p>

                                        <p>Last Name : value</p>

                                        <p>Join Date : value</p>

                                        <p>total lesson : value</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser">List Friends</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf" src="../images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser">List Joined Group</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="../images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#info">Information</a></li>
                    <li><a data-toggle="tab" href="#friend">Friends</a></li>
                    <li><a data-toggle="tab" href="#lesson">User's studied lession</a></li>
                </ul>
                <div class="tab-content">
                    <div id="info" class="tab-pane fade in active">
                        <!--show use's info-->
                        <div id="default-show">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10 form-info">
                                    <div class="row">
                                        <div class="col-sm-10"><p class="leadInfo">UserName</p></div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-sm btn-edit" id="btnShow">Edit <span
                                                        class="glyphicon glyphicon-edit"></span></button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="detail-info"></div>
                                    <p>First Name : Value

                                    <p>Last Name : Value

                                    <p>E-Mail : Value

                                    <p>E-Telephone : Value

                                    <p>Fax : Value
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10 form-info">
                                    <p class="leadInfo">User Address</p>
                                    <hr>
                                    <p>Company : Value

                                    <p>Address : Value

                                    <p>City : Value

                                    <p>Post Code : Value

                                    <p>Country : Value

                                    <p>Region / State : Value
                                </div>
                            </div>
                        </div>
                        <!--form Edit user's Info , form is hidden-->
                        <div id="default-hide">
                            <div class="row">
                                <br>
                                <div class="col-sm-offset-1 col-sm-10">
                                    <p class="leadInfo">User Name</p>
                                    <hr>
                                    <label class="col-sm-3 control-label" for="input-firstname">First Name :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="firstname" value=""
                                                  placeholder="Your First Name" id="input-firstname">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-lastname">last Name :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="lastname" value=""
                                                  placeholder="Your Last Name" id="input-lastname">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-email">Your email :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="email" value=""
                                                  placeholder="Your email" id="input-email">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-telephone">E-Telephone :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="telephone" value=""
                                                  placeholder="Your telephone" id="input-telephone">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-fax">Fax :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="fax" value=""
                                                  placeholder="Your fax" id="input-fax">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <p class="leadInfo">User Address</p>
                                    <hr>
                                    <label class="col-sm-3 control-label" for="input-company">Company :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="CompanyUser" value=""
                                                  placeholder="Your Company" id="input-company">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-address">Address :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="addressUser" value=""
                                                  placeholder="Your Address" id="input-address">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-city">City :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="cityUser" value=""
                                                  placeholder="Your City" id="input-city">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-postCode">Post Code :</label>

                                    <div class="col-sm-9">
                                        <p><input class="form-control" type="text" name="postCode" value=""
                                                  placeholder="Your PostCode" id="input-postCode">
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-country"><font color="red"><b>*</b></font>Country</label>

                                    <div class="col-sm-9">
                                        <p><select name="country_id" id="input-country" class="form-control">
                                                <option value=""> --- Please Select ---</option>
                                            </select>
                                    </div>
                                    <label class="col-sm-3 control-label" for="input-state"><font
                                                color="red"><b>*</b></font>Region / State</label>

                                    <div class="col-sm-9">
                                        <p><select name="state_id" id="input-state" class="form-control">
                                                <option value=""> --- Please Select ---</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <p>

                            <div class="row">
                                <div class="col-sm-offset-8 col-sm-4 pull-left">
                                    <button type="button" class="btn btn-sm btn-edit" id="btnSaveEdit">Save <span
                                                class="glyphicon glyphicon-saved"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="friend" class="tab-pane fade">
                        <div class="row">
                            <div class=" col-sm-12 form-listFriend">
                                <div class="row">
                                    <div class="form-search">
                                        <form name="" action="" method="">
                                            <div class="col-sm-offset-7 col-sm-3">
                                                <input class="form-control input-sm" name="tbSearch" value=""
                                                       id="input-search" placeholder="Search By Name" type="text">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" class="btn btn-primary btnSearch"><span
                                                            class="glyphicon glyphicon-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="pre-scrollable infoUser mCustomScrollbar" data-mcs-theme="dark">
                                    <!--start a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--finish a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="../images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lesson" class="tab-pane fade">
                        <div class="row">
                            <div class="lessonSt">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-search">
                                            <form action="" method="">
                                                <div class="col-sm-offset-7 col-sm-3">
                                                    <input class="form-control input-sm" name="tbSearch" value=""
                                                           id="input-searchLesson" placeholder="Search By Name"
                                                           type="text">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="submit" class="btn btn-primary btnSearch"><span
                                                                class="glyphicon glyphicon-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="pre-scrollable infoUser mCustomScrollbar" data-mcs-theme="dark">
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">Tr?n v?n tuy?n</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--a studied lesson-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" class="lessonName">Lesson One</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="label label-info">30 Question</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="" class="label label-success">By ??c D??ng</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
</div>

<!--<div class="col-sm-12 content">-->
<!--<h1>List User</h1>-->

<!--<div class="table-responsive">-->
<!--<table class="table table-bordered table-striped table-hover">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>ID</th>-->
<!--<th>Name</th>-->
<!--<th>FirstName</th>-->
<!--<th>LastName</th>-->
<!--<th>Email</th>-->
<!--<th>Address</th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<% _.each(users, function(user){ %>-->
<!--<tr data-id="<%= user.id %>" data-model="user">-->
<!--<td><%= user.id %></td>-->
<!--<td><%= user.username %></td>-->
<!--<td><%= user.firstname %></td>-->
<!--<td><%= user.lastname %></td>-->
<!--<td><%= user.email %></td>-->
<!--<td><%= user.address %></td>-->
<!--<% if(user.admin){ %>-->
<!--<td><img src="/images/admin.png"/></td>-->
<!--<% } else{ %>-->
<!--<td><img src="/images/pawn.png"/></td>-->
<!--<% } %>-->
<!--<td class="text-center"><a href="/user/show/<%= user.id %>" class="btn btn-success btn-sm">Show</a>-->
<!--</td>-->
<!--<td class="text-center"><a href="/user/edit/<%= user.id %>" class="btn btn-warning btn-sm">Edit</a>-->
<!--</td>-->
<!--<td>-->
<!--<form action="/user/destroy/<%= user.id %>" method="POST">-->
<!--<input type="hidden" name="_method" value="delete"/>-->
<!--<input type='hidden' name='_csrf' value='<%= _csrf %>'>-->
<!--<button type="submit" class="btn btn-danger btn-sm">Delete</button>-->
<!--</form>-->
<!--</td>-->


<!--</tr>-->
<!--<% }) %>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->


<!--</div>-->
