<div class="col-sm-12">
	<h2>Search List Friends</h2>

	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Add Friends</th>

			</tr>
			</thead>
			<tbody>
			<form action="/buddy/addBuddy" method="POST">
				<% _.each(ob, function(obitem){ %>
				<tr data-id="<%= obitem.id %>" data-model="user">
					<td><input type="hidden" name="<%= obitem.id %>"><%= obitem.id %></td>
					<td><input type="hidden" name="<%= obitem.username %>"><%= obitem.username %></td>
					<td><%= obitem.email %></td>
					<td>
						<button type="submit" class="btn btn-danger" id="add-friend-<%= obitem.id %>">Add Friend
						</button>


					</td>
				</tr>
				<% }) %>
			</form>
			</tbody>
		</table>
	</div>
</div>

