<div class="col-sm-12"><h1>Infomation user <%- user.username %></h1></div>
<div class="col-sm-2">
    <p><%- user.firstname %> <%- user.lastname %></p>
    <p>Email: <%- user.email %></p>
    <p>Address: <%- user.address %></p>
    <a class="btn btn-danger btn-group-lg" href="/user/edit/<%= user.id %>">Edit</a>
</div>
