<div class="col-sm-12 content"><h1>Infomation user <%- user.username %></h1></div>
<div class="col-sm-6">
    <% if(user.admin){ %>
    <td><img src="/images/admin.png"/> Admin</td>
    <% } else{ %>
    <td><img src="/images/pawn.png"/>Member</td>
    <% } %>

    <p><%- user.firstname %> <%- user.lastname %></p>

    <p>Email: <%- user.email %></p>

    <p>Address: <%- user.address %></p>

    <p>Website: <%- user.website %></p>

    <a class="btn btn-danger btn-group-lg" href="/user/edit/<%= user.id %>">Edit</a>
</div>
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-4">
            Search Friend:
        </div>
        <div class="col-sm-8">
            <!--<form class="form-inline" action="/user/searchUser" method="POST">-->
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Friend" name="username" id="username">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="submit">Search Friend</button>
                </div>
            </form>
        </div>
    </div>
    <h2>Search List Friends</h2>

    <div id="info-User"></div>
</div>
<script src="/js/dependencies/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            var username = $('#username').val();
            $.ajax({
                method: "POST",
                url: "/user/searchUser",
                data: {username: username}
            })
                    .done(function (msg) {
                        console.log(msg);
                    });



//
//            $.ajax({
//                url: '/user/searchUser',
//                type: 'POST',
//                data: {username: username},
//                dataType: 'json',
//                cache: false,
//                success: function (data) {
//                    var html = '';
//                    html += '<table class="table table-bordered">';
//                    html += '<tbody>';
//                    $.each(data.ob, function (key, obj) {
//                        html += '<tr>';
//                        html += '<td>' + obj.username + '</td>';
//                        html += '<td>' + obj.email + '</td>';
//                        html += '<td>' + obj.address + '</td>';
//                        html += '<td><button type="button" class="btn btn-danger" id="addFriend">Add Friend</button></td>';
//                        html += '</tr>';
//                    });
//                    html += '</tbody>';
//                    html += '</table>';
//                    console.log(data);
//                    //$('#info-User').append(data);
//
//                },
//                error: function (xhr, status, text) {
//                    alert('loi roi nhe');
//                    var response = jQuery.parseJSON(xhr, responseText);
//                    alert(response.error);
//                }
//
//            });
        });


    })
    $(document).ready(function () {

        $('#addFriend').click(function () {
            alert('sdkfjsklfjs');
        });
    })

</script>