<div class="modal-dialog modal-lg">
    <div class="modal-content model-show-boook">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="modal-title"><%=__("Book Library")%></h4>
                    <%=__("Choose a book")%>
                </div>
                <div class="col-sm-offset-6 col-sm-3 col-xs-12">
                    <div class="form-group form-horizontal">
                        <select class="form-control" id="sel1">
                            <option> Filter Level Select </option>
                            <option value="">Level 1</option>
                            <option value="">Level 2</option>
                            <option value="">Level 3</option>
                            <option value="">Level 4</option>
                            <option value="">Level 5</option>
                        </select>

                        </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#allbook">All Books</a></li>
                <li><a data-toggle="tab" href="#vocabulary" chooseBookCat="vocabulary" class="chosseBookItem">Vocabulary</a></li>
                <li><a data-toggle="tab" href="#kanji" chooseBookCat="kanji" class="chosseBookItem">Kanji</a></li>
                <li><a data-toggle="tab" href="#grammar" chooseBookCat="grammar" class="chosseBookItem">Grammar</a></li>
                <li><a data-toggle="tab" href="#speech" chooseBookCat="speech" class="chosseBookItem">Speech</a></li>
            </ul>
            <div class="tab-content choose-book">
                <div id="allbook" class="tab-pane fade in active">
                    <div class="pre-scrollable choose-book-pre" data-mcs-theme="dark">
                        <!--start three book info-->
                        <div class="row form-showBook">
                            <% for(var i = 0;i < books.length;i++){ %>
                            <div class="col-sm-4">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <% if (books[i].image) { %>
                                        <img id="imglink<%= books[i].id %>" src="/media/image/<%= books[i].image %>"
                                             width="45"
                                             height="45"/>
                                        <% } else { %>
                                        <img id="imglink<%= books[i].id %>" src="/images/bookicon.jpg" width="45"
                                             height="45"/>
                                        <% } %>

                                    </div>
                                    <div class="col-sm-9">
                                        <input type="hidden" id="bookid<%= books[i].id %>" value="<%= books[i].id %>">
                                        <a onclick="addbook('<%= books[i].id %>')" id="bookname<%= books[i].id %>"
                                           title="<%= books[i].name %>"><p
                                                    class="lbUser"><%= books[i].name %></p></a>
                                        <p title="<%= books[i].level %>" id="booklv<%= books[i].id %>">Level
                                            : <%= books[i].level %></p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <hr class="lineBook">
                        <!--finish three book info-->
                    </div>
                </div>
                <div id="vocabulary" class="tab-pane fade"></div>
                <div id="kanji" class="tab-pane fade"></div>
                <div id="grammar" class="tab-pane fade"></div>
                <div id="speech" class="tab-pane fade"></div>

            </div>


        </div>
        <div class="modal-footer">
            <input type="button"
                   onclick="addbook()"
                   class="btn btn-warning"
                   role="button"
                   value="<%=__('Close')%>"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".chosseBookItem").on('click', function () {
        var chooseBookCat = $(this).attr('chooseBookCat');
        $.ajax({
            url: '/japtool/learning/getItemsBooks',
            type: 'POST',
            data: {
                chooseBookCat: chooseBookCat
            },
            success: function (data) {

                $('#' + chooseBookCat + '').html('');
                $('#' + chooseBookCat + '').html(data);
            },
            error: function () {
                alert('Error');
            }
        });
    });
</script>
