<div class="modal-dialog modal-lg">
    <div class="modal-content model-show-boook">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title"><%=__("Book Library")%></h4>
            <div class="row">
                <div class="col-sm-3">
                    <%=__("Choose a book")%>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="pre-scrollable choose-book-pre" data-mcs-theme="dark">
                <!--start three book info-->

                <div class="row form-showBook">
                    <% for(var i = 0;i < books.length;i++){ %>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-2">

                                <% if (books[i].image) { %>
                                <img id="imglink<%= i %>" src="/media/image/<%= books[i].image %>" width="45"
                                     height="45"/>
                                <% } else { %>
                                <img id="imglink<%= i %>" src="/images/bookicon.jpg" width="45" height="45"/>
                                <% } %>

                            </div>
                            <div class="col-sm-9">
                                <input type="hidden" id="bookid<%= i %>" value="<%= books[i].id %>">
                                <a onclick="addbook(<%= i %>)" id="bookname<%= i %>" title="<%= books[i].name %>"><p
                                            class="lbUser"><%= books[i].name %></p></a>

                                <p title="<%= books[i].level %>" id="booklv<%= i %>">Level : <%= books[i].level %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <hr class="lineBook">
                <!--finish three book info-->
            </div>
        </div>
        <div class="modal-footer">
            <input type="button"
                   onclick="addbook()"
                   class="btn btn-warning"
                   role="button"
                   value="Close"/>
        </div>
    </div>
</div>