<div class="container container-do-test-article">
    <div class="doTestArticle">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= article.subject %> </h3>
                <input type="text" id="articleId" hidden="hidden" value="<%= article.id %>"/>
                <input type="text" id="articleTag" hidden="hidden" value="<%= article.tag %>"/>
                <input type="text" id="pointSum" hidden="hidden" value="<%= questions.length %>"/>
                <hr>
            </div>
            <div class="col-sm-12">
                <div class="jumbotron">
                    <p>Level : <%= article.level %></p>

                    <p>
                    <h4>Content</h4>
                    </p>
                    <p>
                        <%= article.content %>
                    </p>

                    <p>
                    <h4>Image , Autio , Video</h4>
                    </p>
                    <% if(article.image != null){
                    %>
                    <p>
                        <img src="/media/image/?fd=<%= article.image %>"/>
                    </p>
                    <%
                    }
                    %>

                    <% if(article.audio != null){
                    %>
                    <p>
                        <audio class="audio-form" controls>
                            <source src="/media/audio/?fd=<%= article.audio %>" type="audio/mpeg">
                        </audio>
                    </p>
                    <%
                    } %>

                    <% if(article.audio != null){
                    %>
                    <p>
                        <video class="video-form" controls>
                            <source src="/media/video/?fd=<%= article.video %>" type="video/mp4">
                        </video>
                    </p>
                    <%
                    } %>
                </div>
            </div>
            <div class="col-sm-12" id="div-question-list">
                <%
                questions.forEach(function (question) {
                %>
                <input type="text" id="<%=question.id%>" />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><%= question.question %></h4>
                        <% if(question.image != null){
                        %>
                        <h5>Image :</h5>
                        <img src="/media/image/?fd=<%= question.image %>"/>
                        <%
                        } %>
                        <div class="col-sm-6"><input type="radio" name="<%= question.id %>"
                                                     value="<%= question.option1 %>"><%= question.option1 %></div>
                        <div class="col-sm-6"><input type="radio" name="<%= question.id %>"
                                                     value="<%= question.option2 %>"><%= question.option2 %></div>
                        <div class="col-sm-6"><input type="radio" name="<%= question.id %>"
                                                     value="<%= question.option3 %>"><%= question.option3 %></div>
                        <div class="col-sm-6"><input type="radio" name="<%= question.id %>"
                                                     value="<%= question.option4 %>"><%= question.option4 %></div>
                    </div>
                </div>
                <%
                });
                %>
                <button type="button" class="btn btn-info" id="btnCheckRs" data-toggle="modal" data-target="#myModal">
                    Check
                </button>
            </div>
            <div class="col-sm-12" id="div-result">
                <div id="div-show-Rs-test" class="row">

                </div>
                <div id="div-show-Rs-test-point" class="row">

                </div>
                <div class="row">
                    <form action="doTest" method="post">
                        <input type="text" hidden="hidden" value="<%=article.id%>" name="id"/>
                        <button type="submit" class="btn btn-warning">Test Again</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
//        $("#div-result").hide();
        $("#btnCheckRs").on('click', function () {
            var pointSum = parseInt( $("#pointSum").val());
            var pointUser = 0;
            $("#div-show-Rs-test").empty();
            var checkedArr = $('input:radio:checked');
            var arrQueNotEm = [];
            var articleId = $('#articleId').val();
            $.ajax({
                url: 'getObject',
                method: 'post',
                data: {
                    articleID: articleId
                },
                success: function (questions) {

                    for (var i = 0; i < checkedArr.length; i++) {
                        for (var j = 0; j < questions.length; j++) {
                            if(questions[j].id == checkedArr[i].name) {
                                arrQueNotEm.push(questions[j]);
                                console.log("detected a question !");
                                questions.splice(j,1);
                                break;
                            }
                        }
                    }
                    //show questions aren't choiced
                    console.log("show questions aren't choiced");
                    for (var i =0 ; i < questions.length ; i++) {
                        console.log(questions[i]);
                        $("#"+questions[i].id).val("false");
                        $("#div-show-Rs-test").append("" +
                        "<div class='col-sm-12'>" +
                        "<p><span class='lb-ts-test'>"+questions[i].question+"</span>" +
                        "<p><span class='lb-ts-test-fail'>Your ans : Empty</span> "+
                        "</div>" +
                        "");
                    }
                    // check questions are choiced
                    console.log("check questions are choiced");
                    for(var i=0;i<checkedArr.length;i++) {
                        for(var j =0 ; j < arrQueNotEm.length ; j++) {
                            if(checkedArr[i].name==arrQueNotEm[j].id) {
                                // if user's choice is true
                                if(checkedArr[i].value==arrQueNotEm[j].option1 && arrQueNotEm[j].resultOption1==true) {
                                    // pass result to textbox
                                    $("#"+arrQueNotEm[i].id).val("true");
                                    $("#div-show-Rs-test").append("" +
                                    "<div class='col-sm-12'>" +
                                    "<p><span class='lb-ts-test'>"+arrQueNotEm[i].question+"</span>" +
                                    "<p><span class='lb-ts-test-ok'>Your ans : "+checkedArr[j].value+"</span><span class='label label-success'>True</span>" +
                                    "</div>" +
                                    "");
                                    pointUser++;
                                    break;
                                }
                                else if(checkedArr[i].value==arrQueNotEm[j].option2 && arrQueNotEm[j].resultOption2==true) {
                                    // pass result to textbox
                                    $("#"+arrQueNotEm[i].id).val("true");
                                    $("#div-show-Rs-test").append("" +
                                    "<div class='col-sm-12'>" +
                                    "<p><span class='lb-ts-test'>"+arrQueNotEm[i].question+"</span>" +
                                    "<p><span class='lb-ts-test-ok'>Your ans : "+checkedArr[j].value+"</span><span class='label label-success'>True</span>" +
                                    "</div>" +
                                    "");
                                    pointUser++;
                                    break;
                                }
                                else if(checkedArr[i].value==arrQueNotEm[j].option3 && arrQueNotEm[j].resultOption3==true) {
                                    // pass result to textbox
                                    $("#"+arrQueNotEm[i].id).val("true");
                                    $("#div-show-Rs-test").append("" +
                                    "<div class='col-sm-12'>" +
                                    "<p><span class='lb-ts-test'>"+arrQueNotEm[i].question+"</span>" +
                                    "<p><span class='lb-ts-test-ok'>Your ans : "+checkedArr[j].value+"</span><span class='label label-success'>True</span>" +
                                    "</div>" +
                                    "");
                                    pointUser++;
                                    break;
                                }
                                else if(checkedArr[i].value==arrQueNotEm[j].option4 && arrQueNotEm[j].resultOption4==true) {
                                    // pass result to textbox
                                    $("#"+arrQueNotEm[i].id).val("true");
                                    $("#div-show-Rs-test").append("" +
                                    "<div class='col-sm-12'>" +
                                    "<p><span class='lb-ts-test'>"+arrQueNotEm[i].question+"</span>" +
                                    "<p><span class='lb-ts-test-ok'>Your ans : "+checkedArr[j].value+"</span><span class='label label-success'>True</span>" +
                                    "</div>" +
                                    "");
                                    pointUser++;
                                    break;
                                } else {
                                    // pass result to textbox
                                    $("#"+arrQueNotEm[i].id).val("false");
                                    // if user's choice is false
                                    $("#div-show-Rs-test").append("" +
                                    "<div class='col-sm-12'>" +
                                    "<p><span class='lb-ts-test'>"+arrQueNotEm[i].question+"</span>" +
                                    "<p><span class='lb-ts-test-fail'>Your ans : <del>"+checkedArr[j].value+"</del></span><span class='label label-danger'>False</span>" +
                                    "</div>" +
                                    "");
                                    break;
                                }
                            }
                        }
                    }
                    // count finish percent
                    var finishRate = (pointUser / pointSum)*100;
                    // get finish rate and point
                    $("#div-show-Rs-test-point").append("" +
                    "<hr>" +
                    "<div class='col-sm-12'>" +
                    "   <p><b>Number of Answer's True :</b>" +pointUser+"</p>"+
                    "   <p><b>Your Lesson's Percent :</b>" +finishRate+"%</p>"+
                    "</div>" +
                    "");
                    // empty list question , that define question is empty
                    arrQueNotEm.length = 0 ;
                    checkedArr.length = 0 ;
                }
            });
        });
    };
</script>