<div class="body-manager-learning">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2>Manage Learning</h2>
            </div>
            <div id="default-show" class="clearfix">
                <div class="default-show">
                    <div class="col-md-offset-6 col-sm-1">
                        <button type="button" class="btn btn-success" id="btn-show-search">Search</button>
                    </div>
                    <div class="col-sm-2">
                        <a href="/japtool/learning/create">
                            <button type="button" class="btn btn-danger">Create New Learning</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 clearfix">
                <div class="library-page-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="" id="default-hide">
                <div class="panel-body">
                    <div class="row close-text">
                        <button type="button" class="close" data-dismiss="modal" id="close-search" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <form method="" action="">
                        <div class="col-sm-1">
                            <div class="lb-name">Name</div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control tb-search-name" placeholder="name">
                        </div>
                        <div class="col-sm-offset-1 col-sm-1">
                            <div class="lb-name">Status</div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control" id="sel1">
                                    <option>Studying</option>
                                    <option>Complete</option>
                                    <option>Not started learning</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary">Search <span
                                        class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="row manager-learning-item">
            <%for(var i=0;i<learnList.length;i++){%>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="/images/library-icons/8.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h4 class="media-heading">
                            <a href="#" class="text-primary lb-learn-name"
                               title="Click to view this library details"
                               data-toggle="modal" data-target="#lib-1"><%=learnList[i].bookMaster.name%></a>
                        </h4>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                <%=learnList[i].bookMaster.name%>

                            </li>
                            <li>
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                <%=learnList[i].status%>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                <a class="text-danger" href="#" data-toggle="modal" data-target="#lib-1">Preview</a> -
                                <a href="/japtool/BookMaster/lesson/<%=learnList[i].bookMaster.id%>">Go to Learn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal fade" id="lib-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Learning Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object img-book"
                                                                 src="/images/track.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <ul>
                                                            <h4>Details:</h4>
                                                            <li>
                                                                <span class="glyphicon glyphicon-play"
                                                                      aria-hidden="true"></span> From : <%=learnList[i].startDate%>
                                                            </li>
                                                            <li>
                                                                <span class="glyphicon glyphicon-stop"
                                                                      aria-hidden="true"></span> To : <%=learnList[i].finishDate%>
                                                            </li>
                                                            <li>
                                                                <span class="glyphicon glyphicon-book"
                                                                      aria-hidden="true"></span>
                                                                <%=learnList[i].bookMaster.name%>
                                                            </li>
                                                            <li>
                                                                <h4>Description</h4>
                                                                <%=learnList[i].bookMaster.description%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" role="button">Edit</a>
                                    <a href="#" onclick="deleteLearning()" title="<%=learnList[i].id%>" id="deleteLearning" class="btn btn-danger" role="button">Delete</a>
                                    <a href="#" class="btn btn-warning" role="button" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
