<div class="container-do-test-article" id="do-test-articles">
    <%
    var lengthQues =0;
    var currentdate = new Date();
    var startDate =  currentdate.getDate() + "/"
            + (currentdate.getMonth()+1)  + "/"
            + currentdate.getFullYear() + " @ "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();
    data.forEach(function(article, index){
    %>
    <input type="text" hidden="hidden" class="arrArticleID" content="<%= article.content %>" subject="<%= article.subject %>" value="<%= article.id %>"/>
    <input type="text" hidden="hidden" value="<%=startDate%>" id="dateStart"/>
    <h2></h2>
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h3><%= article.subject %></h3>
                <hr>
            </div>

            <div class="col-sm-12">
                <div class="">
                    <p>Level : <%= article.level %></p>

                    <p>
                    <h4>Content</h4>
                    </p>
                    <p>
                        <%= article.content %>
                    </p>
                    <%
                    if(article.image != null || article.audio != null || article.video != null) {
                    %>
                    <p>
                    <h4>Media</h4>
                    </p>
                    <%
                    }
                    %>
                    <% if(article.image != null){
                    %>
                    <p>
                        <img src="/media/image/?fd=<%= article.image %>"/>
                    </p>
                    <%
                    }
                    %>

                    <% if(article.audio != null){
                    %>
                    <p>
                        <audio class="audio-form" controls>
                            <source src="/media/audio/?fd=<%= article.audio %>" type="audio/mpeg">
                        </audio>
                    </p>
                    <%
                    } %>

                    <% if(article.video != null){
                    %>
                    <p>
                        <video class="video-form" controls>
                            <source src="/media/video/?fd=<%= article.video %>" type="video/mp4">
                        </video>
                    </p>
                    <%
                    } %>
                </div>
            </div>
            <div class="col-sm-12" id="div-question-list">
                <%
                article.question.forEach(function (question) {
                    lengthQues++;
                %>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><%= question.question %></h4>
                        <% if(question.image != null){
                        %>
                        <h5>Image :</h5>
                        <img src="/media/image/?fd=<%= question.image %>"/>
                        <%
                        } %>
                        <div class="question-div-info" id="<%= question.id %>" ofArticle="<%=article.id%>">
                            <div class="col-sm-6">
                                <input type="radio"  class="<%= question.id %>" name="<%= question.id %>"
                                       value="<%= question.option1 %>" id="<%= question.id %>1">
                                <label for="<%= question.id %>1"><%= question.option1 %></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio"  class="<%= question.id %>" name="<%= question.id %>"
                                       value="<%= question.option2 %>" id="<%= question.id %>2">
                                <label for="<%= question.id %>2"><%= question.option2 %></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio"  class="<%= question.id %>" name="<%= question.id %>"
                                       value="<%= question.option3 %>" id="<%= question.id %>3">
                                <label for="<%= question.id %>3"><%= question.option3 %></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio"  class="<%= question.id %>" name="<%= question.id %>"
                                       value="<%= question.option4 %>" id="<%= question.id %>4">
                                <label for="<%= question.id %>4"><%= question.option4 %></label>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                });
                %>
            </div>
        </div>
    </section>
    <!--<div class="doTestArticle">-->
    <!--<div class="row">-->
    <!-- -->
    <!--</div>-->
    <!--</div>-->
    <% }) %>
    <input type="text" hidden="hidden" value="<%=lengthQues%>" id="lengthQues"/>
</div>
<div class="container">
    <div class="col-sm-12" id="div-result">
        <div id="div-show-Rs-test" class="row">

        </div>
        <div id="div-show-Rs-test-point" class="row">

        </div>
        <div class="row">
            <button type="button" class="btn btn-info" id="btnCheckRs">Check</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#do-test-articles").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft"
        });
    });

    //get articleID array
    var arrArticleID = [];
    var arrArticle = [];
    $('.arrArticleID').each(function () {
        arrArticleID.push($(this).val());
        arrArticle.push({
            arSubject:$(this).attr('subject'),
            arID:$(this).val(),
            arContent:$(this).attr('content')
        });
    });
    var dataUserAns = [];
    var lengthQues = $("#lengthQues").val();
    $("#btnCheckRs").on('click', function () {
        $("#do-test-articles").hide();
        $('.question-div-info').each(function () {
            var idQues = $(this).attr("id");
            var ofArticle = $(this).attr("ofArticle");
            var UserOp = $("input[name=" + idQues + "]:checked").val();
            dataUserAns.push({
                'UserOp': UserOp,
                'idQues': idQues,
                'ofArticle':ofArticle
            });
        });
        $.ajax({
            url: "/japtool/test/checkAnsUser",
            dataType: "json",
            data: {
                dataUserAns: JSON.stringify(dataUserAns),
                arrArticleID: arrArticleID,
                lengthQues:lengthQues
            },
            method: "GET",
            success: function (result) {
                var listEmpty = result[0];
                var listResultTest = result[1];
                // variable of user's point
                var countSum = $("#lengthQues").val();
                var numAnswerTrue =0;

                for(var i = 0 ; i < arrArticle.length;i++){
                    $("#div-show-Rs-test").append("" +
                    "<div class='col-sm-12'>" +"" +
                    "<div class=row>"+
                    "<p><span>"+"<b>Article's Subject :</b>"+arrArticle[i].arSubject+"</span>" +
                    "<p><span>"+"<b>Article's Content :</b>"+arrArticle[i].arContent+"</span>" +
                    "</div>"+
                    "</div>" +
                    "");
                    // get questions empty
                    for(var j = 0 ; j < listEmpty.length;j++ ){
                        if(listEmpty[j].article==arrArticle[i].arID){
                            $("#div-show-Rs-test").append("" +
                            "<div class='col-sm-12'>" +
                            "<p><span class='lb-ts-test'>"+listEmpty[j].question+"</span>" +
                            "<p><span class='lb-ts-test-ok'><b>Your ans :</b> "+"Empty"+"</span><span class='label label-danger'>False</span>" +
                            "</div>" +
                            "");
                        }
                    }
                    // check question : true , false
                    for(var k = 0 ; k < listResultTest.length ; k++){
                        if(listResultTest[k].ofArticle==arrArticle[i].arID && listResultTest[k].result==true){
                            $("#div-show-Rs-test").append("" +
                            "<div class='col-sm-12'>" +
                            "<p><span class='lb-ts-test'>"+listResultTest[k].QuesContent+"</span>" +
                            "<p><span class='lb-ts-test-ok'><b>Your ans : </b>"+listResultTest[k].UserOp+"</span><span class='label label-success'>True</span>" +
                            "</div>" +
                            "");
                            numAnswerTrue++;
                        }
                        if(listResultTest[k].ofArticle==arrArticle[i].arID && listResultTest[k].result==false) {
                            $("#div-show-Rs-test").append("" +
                            "<div class='col-sm-12'>" +
                            "<p><span class='lb-ts-test'>"+listResultTest[k].QuesContent+"</span>" +
                            "<p><span class='lb-ts-test-fail'><b>Your ans :</b> <del>"+listResultTest[k].UserOp+"</del></span><span class='label label-danger'>False</span>" +
                            "</div>" +
                            "");
                        }
                    }
                }
                // count point
                var pointUser = numAnswerTrue/countSum;
                // get date time
                var currentdate = new Date();
                var finishDate = currentdate.getDate() + "/"
                        + (currentdate.getMonth()+1)  + "/"
                        + currentdate.getFullYear() + " @ "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();
                var dateStart = $("#dateStart").val();
                $("#div-show-Rs-test-point").append("" +
                "<div class='col-sm-12'>" +"" +
                "<hr>"+"" +
                "<p><span>Your Mark :</span>"+"<span>"+Math.round(pointUser * 100) / 100+"</span>"+
                "<p><span>Start Date :</span>"+"<span>"+dateStart+"</span>"+
                "<p><span>Finish Date :</span>"+"<span>"+finishDate+"</span>"+
                "</div>" +
                "");
            },
            error: function () {
                $(this).html("Error!");
            }
        });
    });
</script>