<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2>learning group</h2>

                <div id="learning-nav" class="skin-green sidebar-mini">
                    <div class="wrapper">
                        <header class="main-header">
                            <!-- Logo -->
                            <a href="" class="logo" data-toggle="offcanvas" role="button">
                                <!-- mini logo for sidebar mini 50x50 pixels -->
                                <span class="logo-mini" class="sidebar-toggle"><i class="fa fa-bars"></i></span>
                                <!-- logo for regular state and mobile devices -->
                                <span class="logo-lg"><i class="fa fa-bars"></i> Lesson</span>
                            </a>
                            <!-- Header Navbar: style can be found in header.less -->
                        </header>
                        <!-- Left side column. contains the logo and sidebar -->
                        <aside class="main-sidebar">
                            <!-- sidebar: style can be found in sidebar.less -->
                            <section class="sidebar">
                                <!-- Sidebar user panel -->
                                <ul class="sidebar-menu">
                                    <% uniqueLessons.forEach(function(uniqueLesson){ %>
                                    <li class="treeview">
                                        <a href="javascript: void(0)">
                                            <i class="fa fa-edit"></i> <span><%= uniqueLesson %></span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <% bookDetails.forEach(function(bookDetail){ %>
                                        <% if(uniqueLesson == bookDetail.lesson) { %>
                                        <ul class="treeview-menu">
                                            <li><a href='javascript: void(0)' name="<%= bookDetail.id %>"
                                                   onclick="learn('<%= bookDetail.useModule %>', <%= bookDetail.dataExtractCondition %>)"><i
                                                            class="fa fa-circle-o"></i> <%= bookDetail.subLesson %></a>
                                            </li>

                                        </ul>
                                        <% } %>
                                        <% }) %>
                                    </li>
                                    <% }) %>
                                </ul>
                            </section>
                            <!-- /.sidebar -->
                        </aside>
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content-wrapper">
                            <h3 class="text-center" id="add-book-detail"><%= nameBook %></h3>
                            <section class="content-wrapper-body">
                                <div class="row">
                                    <div id="container-learn"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- ./wrapper -->
                </div>


            </div>

        </div>
    </div>
</div>
<script>
    function learn(module, condition) {
        var strCondition = JSON.stringify(condition);
        console.log(strCondition);
        $('#container-learn').load('/japtool/' + module + '/?condition=' + strCondition);
    }

    window.onload = function () {
        $('.sub-lesson').click(function () {
            var bookDetail = $(this).attr('name');
            $('#add-book-detail').attr('name', bookDetail);
            var user = '<%= session.User.id %>';
            var selfLearning = $('#title-learning').attr('name');
            var startDate = new Date();
            var finishDate = new Date();
            $.ajax({
                method: "POST",
                url: "/japtool/bookDetail/saveHistory",
                data: {
                    user: user,
                    bookDetail: bookDetail,
                    selfLearning: selfLearning,
                    startDate: startDate,
                    finishDate: finishDate
                }
            })
                    .done(function (msg) {
                        console.log(msg);
                    });
        });
    }
</script>
