<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2>learning group</h2>

                <div class="col-sm-2 invite">
                    <div class="row">
                        <h3>Lesson learning</h3>
                    </div>
                    <div class="row">
                        <div id='cssmenu-learngroup'>
                            <ul>
                                <% uniqueLessons.forEach(function(uniqueLesson){ %>
                                <li class='has-sub'><a href='javascript: void(0)'><%= uniqueLesson %></a>
                                    <% bookDetails.forEach(function(bookDetail){ %>
                                    <% if(uniqueLesson == bookDetail.lesson) { %>
                                    <ul>
                                        <li><a href='javascript: void(0)'
                                               onclick="learn('<%= bookDetail.useModule %>', <%= bookDetail.dataExtractCondition %>)"><%= bookDetail.subLesson %></a>
                                        </li>
                                    </ul>
                                    <% } %>
                                    <% }) %>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 invite">
                    <h3 class="text-center">N3 vocabulary learning group</h3>

                    <div class="abc" id="container-learn" style="border: 1px solid #ccc;min-height: 600px"></div>
                    <!-- Comment-->
                    <div class="comment">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Comments</h3>
                            </div>
                            <div class="col-sm-3">
                                <a href="" class="view-comment">View more comments</a>
                            </div>
                            <div class="col-sm-3">
                                <a href="" class="view-comment">Hide some comments</a>
                            </div>
                        </div>
                        <div class="row comment-items">
                            <div class="col-sm-1 col-xs-1">
                                <img src="/images/group-friends/masonry_05-400x400.jpg"/>
                            </div>
                            <div class="col-sm-11">
                                <h4>Nguyen Hoang Nam</h4>
                                <div class="comment-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" method="">
                        <textarea rows="5" class="comment-area"></textarea>
                        <button type="button" class="btn btn-danger">Send comment</button>
                    </form>

                    <!-- End comment -->

                </div>
                <div class="col-sm-2 invite">
                    <div class="row">
                        <h3>Invite Friends</h3>

                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <% if(!session.User.avatar){ %>
                                <img src="/images/avatar/avatar.jpg" id="avatarPreview"/>
                                <% } else{ %>
                                <a href="/japtool/user/show/<%= session.User.id %>"><img src="/japtool/user/readAvatarUser/?fd=<%= session.User.avatar %>"/> </a>
                                <% } %>

                            </div>
                            <div class="col-xs-8">
                                <a href="/japtool/user/show/<%= session.User.id %>"><%= session.User.username %></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function learn(module, condition) {
        var strCondition = JSON.stringify(condition);
        $('#container-learn').load('/japtool/' + module + '/list/?condition=' + strCondition);
    }
</script>
