<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2 id="add-book-detail"><%= nameBook %></h2>
                <input hidden="hidden" id="lang" value="<%= session.lang %>"/>

                <div id="learning-nav" class="skin-green sidebar-mini">
                    <div class="wrapper">
                        <header class="main-header">
                            <!-- Logo -->
                            <a href="" class="logo" data-toggle="offcanvas" role="button">
                                <!-- mini logo for sidebar mini 50x50 pixels -->
                                <span class="logo-mini" class="sidebar-toggle"><i class="fa fa-bars"></i></span>
                                <!-- logo for regular state and mobile devices -->
                                <span class="logo-lg"><i class="fa fa-bars"></i><%= __('Lesson') %></span>
                            </a>
                            <!-- Header Navbar: style can be found in header.less -->
                        </header>
                        <!-- Left side column. contains the logo and sidebar -->
                        <aside class="main-sidebar">
                            <!-- sidebar: style can be found in sidebar.less -->
                            <section class="sidebar pre-scrollable">
                                <!-- Sidebar user panel -->
                                <input type="hidden" id="learnID" value="<%= learnID %>">
                                <ul class="sidebar-menu">
                                    <% for (var i = 0; i <= uniqueLessons.length; i++) {
                                        var check = false;
                                        var passed = 0;
                                        for (var j = 0; j < list.length; j++) {
                                            if (list[j].lesson == uniqueLessons[i]) {
                                                check = true;
                                                if (list[j].status == 'passed') {
                                                    passed = 1;
                                                }
                                                else if (list[j].status == 'false') {
                                                    passed = 2;
                                                }
                                                else {
                                                    passed = 3;
                                                }
                                            }
                                        }
                                    if (check == true) {
                                    if (passed == 1) {
                                    %>
                                    <li class="treeview">
                                        <a class="lesson lesson-success" href="javascript: void(0)">
                                            <i class="fa fa-edit"></i> <span><%= uniqueLessons[i] %></span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <% if(bookDetails){ %>
                                        <ul class="treeview-menu">
                                            <% bookDetails.forEach(function(bookDetail){ %>
                                            <% if(uniqueLessons[i] == bookDetail.lesson) { %>
                                            <li><a class="sub-lesson" href='javascript: void(0)'
                                                   name="<%= bookDetail.id %>"
                                                   onclick="father('<%= bookDetail.useModule %>', <%=
                                                       bookDetail.dataExtractCondition %>, '<%= bookDetail.id %>','<%= bookDetail.lesson %>');"><i
                                                            class="fa fa-circle-o"></i> <%= bookDetail.subLesson
                                                    %></a>
                                            </li>
                                            <% } %>
                                            <% }) %>
                                        </ul>
                                        <% } %>

                                    </li>
                                    <%
                                    }
                                    else if (passed == 2) {
                                    %>
                                    <li class="treeview">
                                        <a class="lesson lesson-danger" href="javascript: void(0)">
                                            <i class="fa fa-edit"></i> <span><%= uniqueLessons[i] %></span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <% if(bookDetails){ %>
                                        <ul class="treeview-menu">
                                            <% bookDetails.forEach(function(bookDetail){ %>
                                            <% if(uniqueLessons[i] == bookDetail.lesson) { %>
                                            <li><a class="sub-lesson" href='javascript: void(0)'
                                                   name="<%= bookDetail.id %>"
                                                   onclick="father('<%= bookDetail.useModule %>', <%=
                                                       bookDetail.dataExtractCondition %>, '<%= bookDetail.id %>','<%= bookDetail.lesson %>');"><i
                                                            class="fa fa-circle-o"></i> <%= bookDetail.subLesson
                                                    %></a>
                                            </li>
                                            <% } %>
                                            <% }) %>
                                        </ul>
                                        <% } %>

                                    </li>
                                    <%
                                    }
                                    else {
                                    %>
                                    <li class="treeview">
                                        <a class="lesson lesson-warning" href="javascript: void(0)">
                                            <i class="fa fa-edit"></i> <span><%= uniqueLessons[i] %></span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <% if(bookDetails){ %>
                                        <ul class="treeview-menu">
                                            <% bookDetails.forEach(function(bookDetail){ %>
                                            <% if(uniqueLessons[i] == bookDetail.lesson) { %>
                                            <li><a class="sub-lesson" href='javascript: void(0)'
                                                   name="<%= bookDetail.id %>"
                                                   onclick="father('<%= bookDetail.useModule %>', <%=
                                                       bookDetail.dataExtractCondition %>, '<%= bookDetail.id %>','<%= bookDetail.lesson %>');"><i
                                                            class="fa fa-circle-o"></i> <%= bookDetail.subLesson
                                                    %></a>
                                            </li>
                                            <% } %>
                                            <% }) %>
                                        </ul>
                                        <% } %>

                                    </li>
                                    <%
                                    }
                                    }
                                    else {
                                    %>
                                    <li class="treeview">
                                        <a class="lesson" href="javascript: void(0)">
                                            <i class="fa fa-edit"></i> <span><%= uniqueLessons[i] %></span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <% if(bookDetails){ %>
                                        <ul class="treeview-menu">
                                            <% bookDetails.forEach(function(bookDetail){ %>
                                            <% if(uniqueLessons[i] == bookDetail.lesson) { %>
                                            <li><a class="sub-lesson" href='javascript: void(0)'
                                                   name="<%= bookDetail.id %>"
                                                   onclick="father('<%= bookDetail.useModule %>', <%=
                                                       bookDetail.dataExtractCondition %>, '<%= bookDetail.id %>','<%= bookDetail.lesson %>');"><i
                                                            class="fa fa-circle-o"></i> <%= bookDetail.subLesson
                                                    %></a>
                                            </li>
                                            <% } %>
                                            <% }) %>
                                        </ul>
                                        <% } %>

                                    </li>
                                    <%
                                    }
                                    } %>
                                </ul>
                            </section>
                            <!-- /.sidebar -->
                        </aside>
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content-wrapper content-lesson">
                            <section class="content-wrapper-body">
                                <div class="row">
                                    <div id="container-learn">
                                        <% if(!lessonItem || lessonItem == undefined){ %>
                                        <h3 class="text-center text-danger"><%= nameBook %></h3>

                                        <div class="row">
                                            <div class="col-sm-6 text-right"><span><%= __("Type") %>: </span></div>
                                            <div class="col-sm-6"><%= type %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Level") %>: </span></div>
                                            <div class="col-sm-6"><%= level %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Sort") %>: </span></div>
                                            <div class="col-sm-6"><%= sort %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Number Lesson") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= lessonNum %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Learn Hour") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= hoursForLearn %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Number User") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= usedNum %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Description") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= description %></div>
                                        </div>
                                        <% } else{ %>
                                        <input type="hidden" id="useModule" value="<%= useModule %>">
                                        <input type="hidden" id="conditionS" value="<%= condition %>">
                                        <input type="hidden" id="bookDetailH" value="<%= bookDetailH %>">
                                        <% } %>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- ./wrapper -->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" id="myModalContent"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-nextLesson" onclick="nextLesson();" class="btn btn-primary"
                        data-dismiss="modal">Next Lesson
                </button>
                <button type="button" id="btn1" class="btn btn-success" data-dismiss="modal">Close</button>
                <!--<button type="button" id="btn2" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<script>
    function father(module, condition, detailId, lesson) {
        learn(module, condition);
        savee(lesson, detailId);
    }
    function learn(module, condition) {
        var strCondition = JSON.stringify(condition);
        $('#container-learn').load('/japtool/' + module + '/?condition=' + strCondition);
    }
    function savee(lesson, detailId) {
        var learnID = $('#learnID').val();
        var bookDetail = detailId;
        var user = '<%= session.User.id %>';
        var startDate = new Date();
        $.ajax({
            method: "POST",
            url: "/japtool/Learning/saveHistory",
            data: {
                lesson: lesson,
                user: user,
                selfLearning: learnID,
                bookDetail: bookDetail,
                startDate: startDate
            }
        })
                .done(function (msg) {
                    console.log(msg);
                });
    }
    function openTreeView(bookID) {
        $('.sub-lesson').each(function (itemLessonID, index) {
            var lessonBookID = $(this).attr('name');
            //add Class Active to show screen
            if (lessonBookID == bookID) {
                $(this).closest('.treeview').addClass('active');
                $(this).closest('.treeview .treeview-menu .sub-lesson:last-child').addClass('active');
            }
        });
    }
    function nextLesson() {
        $('a.lesson').each(function (index, nextLessonID) {
            var lessonD = !$(this).hasClass('lesson-danger');
            var lessonS = !$(this).hasClass('lesson-success');
            if (lessonD && lessonS) {
                $(this).parent(".treeview").children().children().children(".sub-lesson").click();
                $("li").removeClass("active");
                openTreeView($(this).parent(".treeview").children().children().children(".sub-lesson").attr("name"));
                return false;
            }
        });
    }
    window.onload = function () {
        var useModule = $('#useModule').val();
        var condition = trimSpace($('#conditionS').val());
        $("#container-learn").load('/japtool/' + useModule + '/?condition=' + condition);
        var bookDetailH = $('#bookDetailH').val();
        openTreeView(bookDetailH);
    }

</script>
