<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-primary">Speech</h2>

      <div class="library-page-line"></div>
      <label id="checkBrowser"></label>

      <div class="slider slider-for speech-control">
        <% sentences.forEach( function(sentenceItem, index){ %>
        <div>
          <section>
            <div class="row">
              <div class="col-sm-12">
                <h2 class="text-danger text-center"><i class="fa fa-question-circle"></i><span
                    class="question<%= index %>"><%= sentenceItem.sentence %></span></h2>
              </div>

              <div class="col-sm-6">
                <h3 class="text-right">Receiving: </h3>
              </div>
              <div class="col-sm-6">
                <h3 class="status<%= index %>">Not Started</h3>
              </div>

              <div class="col-sm-6">
                <h3 class="text-right">Received: </h3>
              </div>
              <div class="col-sm-6 clearfix">
                <h3 class="result<%= index %>">Waiting</h3>
              </div>
              <div class="col-sm-6">
                <h3 class="text-right">Result: </h3>
              </div>
              <div class="col-sm-6">
                <h3 class="check<%= index %>">Waiting</h3>
              </div>
            </div>

            <div class="text-center">

              <a class="text-center btn-start<%= index %>" onclick="startVoice();">
                <div class="check-voice">
                  <i class="fa fa-microphone fa-5x"></i>
                </div>
              </a>
            </div>
          </section>
        </div>
        <% }) %>
      </div>
      <div class="slider slider-nav">
        <% sentences.forEach( function(sentenceItem, index){ %>
        <div><h3><%= index %></h3></div>
        <% }) %>

      </div>
    </div>
  </div>
</div>
<span id="sentencesL" forValue="<%= sentences.length %>"></span>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/slick.js"></script>
<script src="/js/dependencies/bowser.min.js"></script>
<script>
  var i;
  var question;
  var delay=1500;

  function checkBrowser() {
    var chromeName = "chrome";
    var browserName = bowser.name.toLowerCase();
    if (chromeName != browserName) {
      var msg = "Browser is " + browserName + " not supported! Must using " + chromeName;
      document.getElementById("checkBrowser").innerHTML = msg;
      document.getElementById("checkBrowser").className = 'text-danger';
      return msg;
    } else {
      return "OK";
    }
  }

  var isChrome = checkBrowser();

  var recognition = new webkitSpeechRecognition();
  recognition.lang = "ja-JP";
  recognition.continuous = true;
  recognition.interimResults = true;

  var sentencesL = document.getElementById('sentencesL').getAttribute('forValue');

  function getCurrentActive() {
    var i;
    $('.slick-slide').each(function () {
      if ($(this).hasClass('slick-current')) {
        i = $(this).attr('data-slick-index');
      }
    });

    return i;
  }

  function stop() {
    recognition.stop();
    var i = getCurrentActive();
    $('.btn-start' + i).removeClass('text-danger');
  }

  function start() {
    recognition.start();
    var i = getCurrentActive();
    $('.btn-start' + i).addClass('text-danger');
  }

  function replaceChar(str) {
    var pattern = ['。', '、', '！', ' ', '　'];
    $.each(pattern, function (index, value) {
      str = str.replace(value, '');
    });
    return str;
  }

  function addMessage(msgCheck) {

    var i = getCurrentActive();
    question = replaceChar($.trim($(".question" + i).html()));
    msg = replaceChar(msgCheck);

    $(".check" + i).html("");

    if (msg == question) {
      $(".check" + i).html("<span class='text-success'><i class='fa fa-check'></i> Correct</span>");
      $('.status' + i).html("<span class='text-success'><i class='fa fa-check'></i> Completed</span>");
      //stop();

      setTimeout(function(){
        $('.slider-for').slick('slickNext');
        $('.slider-nav').slick('slickNext');
      }, delay);

    } else {
      $(".check" + i).html("<span class='text-danger'><i class='fa fa-times'></i> Incorrect</span>");
      $('.status' + i).html("<span class='text-danger'><i class='fa fa-times'></i> Try again</span>");
    }

    $(".result" + i).html("<i class='fa fa-share-square'></i>" + msgCheck);
  }

  function startVoice() {
    if (isChrome == "OK") {
      var i = getCurrentActive();
      if (!$('.btn-start' + i).hasClass('text-danger')) {
        start();
      } else {
        stop();
      }
    } else {
      alert(isChrome);
    }
  }

  $(document).ready(function () {
    $('.slider-for').on('afterChange', function (event, slick, currentSlide) {
      //stop();
      var i = getCurrentActive();
      $('.btn-start' + i).addClass('text-danger');
    });
  });

  recognition.onsoundstart = function () {
    var current = getCurrentActive();
    $('.status' + current).html("Started");
  };

  recognition.onnomatch = function () {
    var current = getCurrentActive();
    $('.status' + current).html("<span class='text-danger'><i class='fa fa-times'></i> Try again</span>");
  };

  recognition.onerror = function () {
    var current = getCurrentActive();
    $('.status' + current).html("<span class='text-danger'><i class='fa fa-times'></i> Error</span>");
    stop();
  };

  recognition.onsoundend = function () {
    var current = getCurrentActive();
    $('.status' + current).html("Stopping");
    //stop();
  };
  recognition.onend = function () {
    var current = getCurrentActive();
    $('.status' + current).html("Not Started");
    //stop();
    $('.btn-start' + current).removeClass('text-danger');
  };

  recognition.onresult = function (event) {
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      stop();
      return;
    }
    var results = event.results;
    var current = getCurrentActive();
    for (var i = event.resultIndex; i < results.length; i++) {
      var text = $.trim(results[i][0].transcript);
      if (results[i].isFinal) {
        addMessage(text);
      } else {
        $('.status' + current).html(text);
      }
    }
  };
</script>
