<script>
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
//        arrows: true,
    fade: false,
    asNavFor: '.slider-nav',
    draggable: false,
    prevArrow: '<button type="button" data-role="none" class="btn btn-prevArrow btn-primary" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow: '<button type="button" data-role="none" class="btn btn-nextArrow btn-primary" aria-label="Next" tabindex="0" role="button">Next</button>'
  });
  $('.slider-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 4,
    asNavFor: '.slider-for',
    dots: false,
    centerMode: false,
    focusOnSelect: true
  });
  // Google TEXT TO SPEECH
  function text2speech(w, tl, id) {
    var speech = 'select * from data.uri where url="http://translate.google.com/translate_tts?ie=utf-8&tl=' + encodeURIComponent(tl) + "&q=" + encodeURIComponent(w) + '"';
    $.getJSON('https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(speech) + '&format=json&diagnostics=true', function (data) {
      var audioSrc = data.query.results.url;
      if (data && audioSrc !== undefined) {
        $('#' + id)[0].src = audioSrc;
      }
    });
  }
  function playAudio(id) {
    $('#' + id)[0].play();
  }
  //END TEXT2SPEECH
  $('.slider-for').on('init reInit afterChange', function (event, slick, currentSlide) {
    var i = (currentSlide ? currentSlide : 0) + 1;
  });
  function checkAnswer(description, description2) {
    if (description == description2) {
      alert('Bạn đã chọn đúng');
      //Trễ 2s và next sang câu tiếp theo.
    } else {
      alert('Sai rồi');
    }
  }
</script>

<div id="vocabularyList">
  <% if(vocabularies == null || vocabularies.length == 0){ %>
  <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
  <% }else{ %>
  <div class="slider slider-nav">
    <% vocabularies.forEach( function(vocabulary, index){ %>
    <div><h3><%= index + 1 %>. <%= vocabulary.item %></h3></div>
    <% }) %>
  </div>
  <div class="slider slider-for">
    <% vocabularies.forEach( function(vocabulary, index){ %>
    <div class="slider-for-deital clearfix">
      <h4 class="text-center text-danger" onclick="playAudio('vocabulary-audio-<%= index %>');"><%= vocabulary.item %>
      </h4>
      <audio id="vocabulary-audio-<%= index %>"></audio>
      <% vocabulary.randomVocabularies.forEach( function(description){ %>
      <p onclick="checkAnswer('<%= description %>','<%= vocabulary.description %>')"><%= description %></p>
      <% }) %>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
<!--GET AUDIO DATA-->
<% vocabularies.forEach( function(vocabulary, index){ %>
<script>
  text2speech('<%= vocabulary.reading %>', 'ja', 'vocabulary-audio-<%= index %>');
</script>
<% }) %>
<!--END GET AUDIO DATA-->
