<script>

    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
//  arrows: true,
        fade: false,
        asNavFor: '.slider-nav',
        draggable: false,
        touchMove: false,
        accessibility: true,
        prevArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-left" aria-label="Previous" tabindex="0" role="button"><i class="fa fa-chevron-left"></i></button>',
        nextArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-right" aria-label="Next" tabindex="0" role="button"><i class="fa fa-chevron-right"></i></button>'
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: false,
        focusOnSelect: true
    });
    var audioconfig = true;
    var infoconfig = true;
    $(document).ready(function () {
        $('.info-off').hide();
        $('.info-on').on('click', function () {
            $('.info-off').show();
            $('.info-on').hide();
            infoconfig = false;
            //Hide all info
            $("[class^='info-item-']").hide();
        });
        $('.info-off').on('click', function () {
            $('.info-on').show();
            $('.info-off').hide();
            infoconfig = true;
        });
        $('.mic-off').hide();
        $('.mic-on').on('click', function () {
            $('.mic-off').show();
            $('.mic-on').hide();
            audioconfig = false;
        });
        $('.mic-off').on('click', function () {
            $('.mic-on').show();
            $('.mic-off').hide();
            audioconfig = true;
        });
    });
    // Google TEXT TO SPEECH
    function text2speech(w, tl, id) {
        var speech = 'select * from data.uri where url="http://translate.google.com/translate_tts?ie=utf-8&tl=' + encodeURIComponent(tl) + "&q=" + encodeURIComponent(w) + '"';
        $.getJSON('https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(speech) + '&format=json&diagnostics=true', function (data) {
            var audioSrc = data.query.results.url;
            if (data && audioSrc !== undefined) {
                $('#vocabulary-audio-' + id)[0].src = audioSrc;
            }
        });
    }
    function playAudio(id) {
//    console.log('Play audio: ', id);
        if (audioconfig) {
            $('#vocabulary-audio-' + id)[0].play();
        }
    }
    //END TEXT2SPEECH
    function showExample(index) {
        var exam = '[custom = display-delay-' + index + ']';
        $(exam).delay(1000).slideDown();
    }
    function showDetails(index) {
        if (infoconfig) {
            $('.info-item-' + index).slideDown();
        }
    }
    $(document).ready(function () {
        // count page
        var $status = $('.pagingCnt');
        var $slickElement = $('.slider-for');
        $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
            //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
            var i = (currentSlide ? currentSlide : 0) + 1;
            $status.text(i + '/' + slick.slideCount);
        });
        $('.slider-for').on('afterChange', function (event, slick, currentSlide) {
//      var i = (currentSlide ? currentSlide : 0) + 1;

            //Show Details
            showDetails(currentSlide);
            //Play audio
            playAudio(currentSlide);
        });
        $('.slider-for').on('beforeChange', function (event, slick, currentSlide) {
//      var i = (currentSlide ? currentSlide : 0) + 1;
            showDetails(currentSlide);
            //Show Example
            showExample(currentSlide);
        });
        (function () {
            $("[custom = 'display-delay-1']").delay(2000).slideDown();
            //Show Details of first voca
            showDetails(0);
            //Play audio of first voca
            playAudio(0);
        })();
    });
    $('span').tooltip();
</script>

<div id="vocabularyList" class="voca-list-sum">
    <%
    var sumPage = vocabularies.length;
    if(vocabularies == null || vocabularies.length == 0){
    %>
    <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
    <% }else{ %>
    <div class="slider slider-for">
        <%
        vocabularies.forEach( function(vocabulary, index){
        %>

        <div class="learn-vocabulary">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default panel-paper-slide-voca">
                    <div class="panel-body">
                        <div class="icon-controll-prac-voca">
                            <i class="fa fa-check-circle-o fa-2x info-on" title="off informations"></i>
                            <i class="fa fa-minus-circle fa-2x info-off" title="on informations"></i>
                            &nbsp;
                            <i class="fa fa-volume-up mic-on" data-toggle="tooltip" title="off audio"></i>
                            <i class="fa fa-volume-off mic-off" data-toggle="tooltip" title="on audio"></i>
                        </div>
                        <div class="col-sm-12">
                            <div class="card text-center">
                                <!--1-->
                                <p class="not-display info-item-<%= index %>">
                                    <span class="text-success">
                                      <i class="fa fa-microphone text-danger"
                                         onclick="playAudio(<%= index %>);"></i> :
                                    </span>
                                    <%= vocabulary.reading %>
                                    <audio id="vocabulary-audio-<%= index %>"></audio>
                                </p>
                                <!--end 1-->
                                <div class="front">
                                    <h3 class="text-center text-danger text-center-list-voca"
                                        onclick="showDetails('<%= index %>'); playAudio(<%= index %>);"><%= vocabulary.item %>
                                    </h3>
                                </div>
                            </div>
                            <div class="info-item-<%= index %> details-voca not-display ">

                                <% if(vocabulary.description){ %>
                                <p>
                                    <span class="lb-mean size-lb"><i class="fa fa-flag-o fa-2x"  title="description"></i> <%= vocabulary.description %></span>
                                </p>
                                <% } %>

                                <!--3-->
                                <% if (typeof vocabulary.examples !== 'undefined' && vocabulary.examples.length > 0) { %>
                                <p custom="display-delay-<%= index + 1 %>" class="lb-example">
                                    <span class="text-success"><i class="fa fa-file-text fa-lg" title="Example"></i></span>
                                </p>
                                <ul custom="display-delay-<%= index + 1 %>" class="vocabulary-item-example">
                                    <% vocabulary.examples.forEach( function(item, index){ %>
                                    <% if (item.example == 'undefined' || item.example.length == 0){ %>
                                    <% }else { %>
                                    <li>
                                      <span class="text-danger exam-cont" data-toggle="tooltip" data-placement="top"
                                            title="<%= item.meaning %>">
                                        <%= index + 1 %>. <%= item.example %>
                                      </span>
                                    </li>
                                    <% } %>
                                    <% }) %>
                                </ul>
                                <% } %>
                                <!--end 3-->
                            </div>
                        </div>
                        <span class="pagingCnt">1/<%= sumPage %></span>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <!--scroll bar-->
    <div class="col-sm-offset-2 col-sm-8">
        <div class="slider slider-nav">
            <% vocabularies.forEach( function(vocabulary, index){ %>
            <div><h3><%= vocabulary.item %></h3></div>
            <% }) %>
        </div>
    </div>
    <% } %>
</div>

<!--GET AUDIO DATA-->
<% vocabularies.forEach( function(vocabulary, index){ %>
<script>
    text2speech('<%= vocabulary.reading %>', 'ja', <%= index %>);
</script>
<% }) %>
<!--END GET AUDIO DATA-->


