<script>
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
//        arrows: true,
    fade: false,
    asNavFor: '.slider-nav',
    draggable: false,
    prevArrow: '<button type="button" data-role="none" class="btn btn-prevArrow btn-primary" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow: '<button type="button" data-role="none" class="btn btn-nextArrow btn-primary" aria-label="Next" tabindex="0" role="button">Next</button>'
  });
  $('.slider-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 4,
    asNavFor: '.slider-for',
    dots: false,
    centerMode: false,
    focusOnSelect: true
  });
  //Chơi audio
  var isPlayAudio = true;
  //Hiển thị nghĩa và cách đọc
  var isShowDetail = true;
  function changeAudioSetting() {
    if (isPlayAudio) {
      isPlayAudio = false;
      $('#audio-setting').removeClass('fa-microphone').addClass('fa-microphone-slash');
    } else {
      isPlayAudio = true;
      $('#audio-setting').removeClass('fa-microphone-slash').addClass('fa-microphone');
    }
    console.log('Audio', isPlayAudio);
  }
  function changeShowSetting() {
    if (isShowDetail) {
      isShowDetail = false;
      $('#show-setting').removeClass('fa-info').addClass('fa-exclamation');
    } else {
      isShowDetail = true;
      $('#show-setting').removeClass('fa-exclamation').addClass('fa-info');
    }
    console.log('Show', isShowDetail);
  }
  // Google TEXT TO SPEECH
  function text2speech(w, tl, id) {
    var speech = 'select * from data.uri where url="http://translate.google.com/translate_tts?ie=utf-8&tl=' + encodeURIComponent(tl) + "&q=" + encodeURIComponent(w) + '"';
    $.getJSON('https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(speech) + '&format=json&diagnostics=true', function (data) {
      var audioSrc = data.query.results.url;
      if (data && audioSrc !== undefined) {
        $('#' + id)[0].src = audioSrc;
      }
    });
  }
  function playAudio(id) {
    console.log('Play audio: ', isPlayAudio);
    if (isPlayAudio) {
      $('#' + id)[0].play();
    }
  }
  //END TEXT2SPEECH
  function show(index) {
    var exam = '[custom = display-delay-' + index + ']';
    $(exam).delay(2000).slideDown();
  }
  $('.slider-for').on('init reInit afterChange', function (event, slick, currentSlide) {
    var i = (currentSlide ? currentSlide : 0) + 1;
    show(i);
  });
  function showDetails(item) {
    console.log('Show details: ', isShowDetail);
    if (isShowDetail) {
      $('.' + item).slideDown();
    }
  }
  $(".card").flip();
  $('span').tooltip();
</script>

<div id="vocabularyList">
  <div>Setting:
    <i id='audio-setting' class="fa fa-microphone fa-2x text-danger" onclick="changeAudioSetting();"></i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i id='show-setting' class="fa fa-info fa-2x text-danger" onclick="changeShowSetting();"></i>
  </div>
  <% if(vocabularies == null || vocabularies.length == 0){ %>
  <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
  <% }else{ %>
  <div class="slider slider-nav">
    <% vocabularies.forEach( function(vocabulary, index){ %>
    <div><h3><%= index + 1 %>. <%= vocabulary.item %></h3></div>
    <% }) %>
  </div>
  <div class="slider slider-for">
    <% vocabularies.forEach( function(vocabulary, index){ %>
    <div class="slider-for-deital clearfix">
      <div class="card">
        <div class="front">
          <h4 class="text-center text-danger"
              onclick="showDetails('<%= index %>'); playAudio('vocabulary-audio-<%= index %>');"><%= vocabulary.item %>
          </h4>
        </div>
        <div class="back">
          <img class="center-block" src="/images/avatar/a02.png"/>
        </div>
      </div>
      <p class="not-display <%= index %>">
        <span class="text-success">Reading
          <i class="fa fa-microphone text-danger" onclick="playAudio('vocabulary-audio-<%= index %>');"></i> :
        </span>
        <%= vocabulary.reading %>
        <audio id="vocabulary-audio-<%= index %>"></audio>
      </p>
      <p class="not-display <%= index %>">
        <span class="text-success">Description: </span><%= vocabulary.description %>
      </p>
      <% if (typeof vocabulary.examples !== 'undefined' && vocabulary.examples.length > 0) { %>
      <p custom="display-delay-<%= index + 1 %>">
        <span class="text-success">Example: </span>
      </p>
      <ul custom="display-delay-<%= index + 1 %>" class="vocabulary-item-example">
        <% vocabulary.examples.forEach( function(item, index){ %>
        <% if (item.example == 'undefined' || item.example.length == 0){ %>
        <% }else { %>
        <li>
          <span class="text-danger" data-toggle="tooltip" data-placement="right" title="<%= item.meaning %>">
            <%= index + 1 %>. <%= item.example %>
          </span>
        </li>
        <% } %>
        <% }) %>
      </ul>
      <% } %>
    </div>

    <% }) %>
  </div>
  <% } %>
</div>
<script>
  (function () {
    $("[custom = 'display-delay-1']").delay(2000).slideDown();
  })();
</script>
<!--GET AUDIO DATA-->
<% vocabularies.forEach( function(vocabulary, index){ %>
<script>
  text2speech('<%= vocabulary.reading %>', 'ja', 'vocabulary-audio-<%= index %>');
</script>
<% }) %>
<!--END GET AUDIO DATA-->


