<script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
//        arrows: true,
        fade: false,
        asNavFor: '.slider-nav',
        draggable: false,
        prevArrow: '<button type="button" data-role="none" class="btn btn-prevArrow btn-success" aria-label="Previous" tabindex="0" role="button">Previous</button>',
        nextArrow: '<button type="button" data-role="none" class="btn btn-nextArrow btn-success" aria-label="Next" tabindex="0" role="button">Next</button>'


    });
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 4,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: false,
        focusOnSelect: true
    });
</script>

<div id="vocabularyList">
    <% if(vocabularies == null || vocabularies.length == 0){ %>
    <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
    <% }else{ %>
    <div class="slider slider-nav">
        <% vocabularies.forEach( function(vocabulary, index){ %>
        <div><h3><%= index %>. <%= vocabulary.item %></h3></div>

        <% }) %>
    </div>

    <div class="slider slider-for">
        <% vocabularies.forEach( function(vocabulary, index){ %>
        <div class="slider-for-deital clearfix">
            <h4 class="text-center text-danger"><%= vocabulary.item %></h4>

            <p><span class="text-success">Reading <i
                            class="fa fa-microphone text-danger"></i> : </span><%= vocabulary.reading %></p>

            <p><span class="text-success">Description: </span><%= vocabulary.description %></p>
            <% if (typeof vocabulary.examples !== 'undefined' && vocabulary.examples.length > 0) { %>
            <p><span class="text-success">Example: </span></p>
            <ul class="vocabulary-item-example">
                <% vocabulary.examples.forEach( function(item){ %>
                <% if (item.example == 'undefined' || item.example.length == 0){ %>
                <% }else { %>
                <li><span class="text-danger"><%= item.example %> : </span><%= item.meaning %></li>
                <% } %>
                <% }) %>
            </ul>
            <% } %>
        </div>

        <% }) %>
    </div>
    <% } %>
</div>


