<div class="container library-page">
    <% uniqueTag.forEach(function(item){ %>
    <div class="row">
        <div class="media">
            <div class="media-body">
                <div class="col-sm-12 library-page-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3><span><%= item %></span>
                                <small><i>Master Japanese!</i></small>

                            </h3>
                        </div>
                        <div class="col-sm-2">
                            <div class="join-learn btn label-primary">
                                <a href="/japtool/library/libraryCategory">View more Library</a>
                            </div>
                        </div>
                    </div>
                    <div class="library-page-line"></div>

                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <div id="lib-1">
            <% data.forEach(function(book, index){ %>
            <% if(book.category == item) { %>
            <div class="col-sm-4 lib-cell">
                <div class="row">
                    <div class="media libMaster">
                        <a href="#" data-toggle="modal" data-target="#lib-level2">
                            <img class="media-object col-xs-3 libImg"
                                 src="/japtool/BookMaster/readImg/?fd=<%= book.image %>"
                                 title="Click to view this library details">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" class="text-primary" title="Click to view this library details"
                                   data-toggle="modal" data-target="#lib-level-2">
                                    <%= book.name %>
                                </a>
                            </h4>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    Level: <%= book.level %> -
                                    Used: 1
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Number
                                    Lesson: <%= book.bookDetail.length %>

                                </li>

                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <a href="#" title="Click to view this library lesson." data-toggle="modal"
                                       data-target="#lib-review-2" class="text-danger">Preview</a> -
                                    <span></span>
                                    <a href="/japtool/BookMaster/lesson/<%= book.id %>"
                                       title="Click to learn this library." class="text-info">Learning
                                        Library</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% }) %>
        </div>
    </div>
    <% }) %>

    <div class="row text-center">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>