<div class="container library-page">
    <% uniqueTag.forEach(function(item){ %>
    <div class="row">
        <div class="media">
            <div class="media-body">
                <div class="col-sm-12 library-page-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3><span><%= item %></span>
                            </h3>
                        </div>
                        <div class="col-sm-2">
                            <div class="join-learn btn label-primary">
                                <a href="/japtool/library/libraryCategory">View more Library</a>
                            </div>
                        </div>
                    </div>
                    <div class="library-page-line"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="lib-1">
            <% data.forEach(function(book, index){ %>
            <% if(book.category == item) { %>
            <div class="col-sm-4 lib-cell">
                <div class="row">
                    <div class="media libMaster">
                        <a href="#" data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                            <img class="media-object col-xs-3 libImg"
                                 src="/japtool/BookMaster/readImg/?fd=<%= book.image %>"
                                 title="Click to view this library details">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" class="text-primary" title="Click to view this library details"
                                   data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                                    <%= book.name %>
                                </a>
                            </h4>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    Level: <%= book.level %> -
                                    Used: 1
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Number
                                    Lesson: <%= book.bookDetail.length %>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <a href="#" title="Click to view this library lesson." data-toggle="modal"
                                       data-target="#lib-review-<%= book.id %>" class="text-danger">Preview</a> -
                                    <span></span>
                                    <a href="/japtool/BookMaster/lesson/<%= book.id %>"
                                       title="Click to learn this library." class="text-info">Learning
                                        Library</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib details-->
            <div class="modal fade" id="lib-details-<%= book.id %>" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Library - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#">
                                        <img class="library-detail-img"
                                             src="/japtool/BookMaster/readImg/?fd=<%= book.image %>">
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <ul>
                                        <h4>Details:</h4>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            Level: <%= book.level %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Type: <%= book.type %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            Number Lesson: <%= book.bookDetail.length %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            Estimate Hour:
                                            <% if(book.hourForLearn == 'undefined'){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.hourForLearn %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Number Of Recommend:
                                            <% if(book.recommendNum == undefined){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.recommendNum %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            Used: 1
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-12">

                                    <h4>Description:</h4>

                                    <div class="pre-scrollable mCustomScrollbar" data-mcs-theme="dark">
                                        <%= book.description %>

                                    </div>
                                </div>
                            </div>
                            <h4>Your friends are learning this library: </h4>

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <a href="#" title="Click to view profile.">
                                            <img src="../images/avatar/a01.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/japtool/BookMaster/lesson/<%= book.id %>" class="btn btn-success" role="button">Learning
                                This Library</a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib review-->
            <% if(book.bookDetail == 0){ %>
            <script>
                console.log('No has BookDetails');
            </script>
            <% } else{ %>
            <script>
                var lesson = [];
            </script>
            <% book.bookDetail.forEach(function(item){ %>
            <script>
                lesson.push('<%= item.lesson %>');

            </script>
            <% }) %>
            <script>
                var uniqueLesson = [];
                function remove_duplicates_safe(arr) {
                    var obj = {};
                    var arr2 = [];
                    for (var i = 0; i < arr.length; i++) {
                        if (!(arr[i] in obj)) {
                            arr2.push(arr[i]);
                            obj[arr[i]] = true;
                        }
                    }
                    return arr2;

                }
                uniqueLesson = remove_duplicates_safe(lesson)
                console.log(uniqueLesson);
            </script>
            <% } %>

            <div class="modal fade" id="lib-review-<%= book.id %>" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Library - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row libImg-modal">
                                <div class="col-sm-3 invite">
                                    <div class="row">
                                        <h3>Lesson learning</h3>
                                    </div>
                                    <div class="row">
                                        <div id="cssmenu-learngroup">
                                            <ul>
                                                <li><a href="#">Lesson learning 1</a></li>
                                                <li class="has-sub"><a href="#">Lesson learning 2</a>
                                                    <ul>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning</a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning</a></li>
                                                                <li><a href="#">Sub Lesson learning </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning</a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning </a></li>
                                                                <li><a href="#">Sub Lesson learning </a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Lesson learning 3</a></li>
                                                <li><a href="#">Lesson learning 4</a></li>
                                                <li><a href="#">Lesson learning 1</a></li>
                                                <li class="has-sub"><a href="#">Lesson learning 2</a>
                                                    <ul>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning </a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning </a></li>
                                                                <li><a href="#">Sub Lesson learning </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning</a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning 2.2.1</a></li>
                                                                <li><a href="#">Sub Lesson learning 2.2.2</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Lesson learning 3</a></li>
                                                <li><a href="#">Lesson learning 4</a></li>
                                                <li><a href="#">Lesson learning 1</a></li>
                                                <li class="has-sub"><a href="#">Lesson learning 2</a>
                                                    <ul>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning 2.1</a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning 2.1.1</a></li>
                                                                <li><a href="#">Sub Lesson learning 2.1.2</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="#">Sub Lesson learning 2.2</a>
                                                            <ul>
                                                                <li><a href="#">Sub Lesson learning 2.2.1</a></li>
                                                                <li><a href="#">Sub Lesson learning 2.2.2</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Lesson learning 3</a></li>
                                                <li><a href="#">Lesson learning 4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 invite">
                                    <h3 class="text-center">N3 vocabulary learning group</h3>

                                    <div class="abc"
                                         style="background-color: rgba(61, 140, 204, 0.39); min-height: 600px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/japtool/BookMaster/lesson/<%= book.id %>" class="btn btn-success" role="button">Learning
                                This Library</a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% }) %>
        </div>
    </div>
    <% }) %>

    <div class="row text-center">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>