<div class="container library-page">
    <div class="row">
        <div class="media">
            <div class="media-body">
                <div class="col-sm-12 library-page-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3><span><%= data[0].type %></span>
                            </h3>
                        </div>
                        <div class="col-sm-1">
                            <div class="join-learn btn label-success">
                                <a href="/japtool/BookMaster/getLibrary">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="library-page-line"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="lib-1">
            <% data.forEach(function(book, index){ %>
            <div class="col-sm-4 lib-cell lib-cell-<%= index %>">
                <div class="row">
                    <div class="media libMaster">
                        <a href="#" data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                            <img class="media-object col-xs-3 libImg"
                                 src="/media/image/?fd=<%= book.image %>"
                                 title="Click to view this library details">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" class="text-primary" title="Click to view this library details"
                                   data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                                    <%= book.name %>
                                </a>
                            </h4>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    Level: <%= book.level %> -
                                    Used: 1
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Number
                                    Lesson: <%= book.bookDetail.length %>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <a href="#" title="Click to view this library lesson." data-toggle="modal"
                                       data-target="#lib-review-<%= book.id %>" class="text-danger">Preview</a> -
                                    <span></span>
                                    <a href="/japtool/BookMaster/lesson/<%= book.id %>"
                                       title="Click to learn this library." class="text-info">Learning
                                        Library</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib details-->
            <div class="modal fade" id="lib-details-<%= book.id %>" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Library - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#">
                                        <img class="library-detail-img"
                                             src="/media/image/?fd=<%= book.image %>">
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <ul>
                                        <h4>Details:</h4>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            Level: <%= book.level %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Type: <%= book.type %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            Number Lesson: <%= book.bookDetail.length %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            Estimate Hour:
                                            <% if(book.hourForLearn == 'undefined'){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.hourForLearn %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Number Of Recommend:
                                            <% if(book.recommendNum == undefined){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.recommendNum %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            Used: 1
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-12">

                                    <h4>Description:</h4>

                                    <div class="pre-scrollable mCustomScrollbar" data-mcs-theme="dark">
                                        <%= book.description %>

                                    </div>
                                </div>
                            </div>
                            <h4>Your friends are learning this library: </h4>

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <a href="#" title="Click to view profile.">
                                            <img src="../images/avatar/a01.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/japtool/BookMaster/lesson/<%= book.id %>" class="btn btn-success" role="button">Learning
                                This Library</a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib review-->
            <div class="modal fade" id="lib-review-<%= book.id %>" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Library - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row libImg-modal">
                                <div class="col-sm-3 invite">
                                    <div class="row">
                                        <h3>Lesson learning</h3>
                                    </div>
                                    <div class="row">
                                        <div id="cssmenu-learngroup">
                                            <ul>
                                                <% arrAllLesson.forEach(function(item){ %>
                                                <% if(item.idLesson == book.id){ %>
                                                <% item.arrLesson.forEach(function(uniqueLesson){ %>
                                                <li class='has-sub'><a href='#'><%= uniqueLesson %></a>
                                                    <% if(book.bookDetail.length != 0){ %>
                                                    <% book.bookDetail.forEach(function(bookDetail){ %>
                                                    <% if(uniqueLesson == bookDetail.lesson) { %>
                                                    <ul>
                                                        <li><a href='#'
                                                               onclick="learn('<%= bookDetail.useModule %>', <%= bookDetail.dataExtractCondition %>, '<%= book.id %>')"><%= bookDetail.subLesson %></a>
                                                        </li>
                                                    </ul>
                                                    <% } %>
                                                    <% }) %>
                                                    <% } %>
                                                    <% }) %>
                                                    <% } %>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 invite">
                                    <h3 class="text-center"><%= book.name %></h3>

                                    <div class="abc container-learn" id="<%= book.id %>"
                                         style="background-color: rgba(61, 140, 204, 0.39); min-height: 600px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/japtool/BookMaster/lesson/<%= book.id %>" class="btn btn-success" role="button">Learning
                                This Library</a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
                <script>
                    function learn(module, condition, id) {
                        var strCondition = JSON.stringify(condition);
                        $('#' + id).load('/japtool/' + module + '/list/?condition=' + strCondition);
                    }
                </script>
            </div>
            <% }) %>
        </div>
    </div>

    <ul id="pagination-demo" class="pagination-sm row text-center pull-right"></ul>
    <script type="text/javascript">
        window.onload = function () {
            $('.lib-cell').hide();
            var itemOnPage = 6;
            for (var i = 0; i < itemOnPage; i++) {
                $('.lib-cell-' + i).show();
            }
            var totalPages = <%= data.length %>/itemOnPage;
            $('#pagination-demo').twbsPagination({
                totalPages: Math.ceil(totalPages),
                visiblePages: 4,
                onPageClick: function (event, page) {

                    var itemShow = itemOnPage * page;
                    $('.lib-cell').hide();
                    for (var i = itemShow - itemOnPage; i < itemShow; i++) {
                        $('.lib-cell-' + i).show();
                    }
                }
            });
        };
    </script>
</div>