<h4>Index page contact</h4>

<span>Fullname: </span><%= user.fullname %><br/>
<span>Age: </span><%= user.age %>

<table cellpadding="5px">
    <tr>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <% user.contacts.forEach(function(item){ %>
    <tr>
        <td><%= item.email %></td>
        <td><%= item.phone %></td>
        <td><a href="/contact/edit/?id=<%- user.id %>&email=<%- item.email %>">Edit</a></td>
        <td>
            <form action="/contact/delete" method="post">
                <input type="submit" value="Delete"/>
                <input type="hidden" name="id" value="<%- user.id %>"/>
                <input type="hidden" name="email" value="<%- item.email %>"/>
            </form>
        </td>
    </tr>
    <% }) %>
</table>
<a href="/contact/new/?id=<%- user.id %>">Add new contact</a>