
<script src="/js/dependencies/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-6 col-md-5 ">

    <div class="carousel slide" id="carouselID" data-wrap="false" data-interval="false" >
      <div class="carousel-inner">
        <div class="item active">
          <div class="flip"> 
            <div class="card"> 
              <div class="face front">
                <div class="col-md-12 top-space">
                <% if (vocabularies[0].image!=""){%>
                  <img src="/images/<%=vocabularies[0].image%>" alt="" class="image_card" ></img>
                <%}%>
                </div> 
                <div class="col-md-12 word_card">
                  <p class="word"><%=vocabularies[0].word%></p>
                  <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="footer">
                  <p>1/<%=vocabularies.length%></p>
                </div>
              </div> 

              <div class="face back">
                <div class="col-md-12 top-space">
                  <%i=1%>
                  <% if (vocabularies[0].reading!=""){%>
                    <p><%=i%>.読み方</p>
                    <p class="left-space"><%=vocabularies[0].reading%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].meaning!=""){%>
                    <p><%=i%>.意味</p>
                    <p class="left-space"><%=vocabularies[0].meaning%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].examples!=""){%>
                    <p><%=i%>.例文</p>
                    <p  class="examples left-space" 
                        data-toggle="tooltip" 
                        data-placement="right" 
                        title="Tooltip on right"><%=vocabularies[0].examples%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].synonymous!=""){%>
                    <p><%=i%>.同義語</p>
                    <p class="synonymous left-space"><%=vocabularies[0].synonymous%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].antonymous!=""){%>
                    <p><%=i%>.反対語</p>
                    <p class="antonymous left-space"><%=vocabularies[0].antonymous%></p>
                    <%i=i+1%>
                  <%}%>
                </div> 
              </div>
            </div> 
          </div>
        </div>
        <% vocabularies.forEach( function( vocabulary, index){ %>
        <% if(index > 0){ %>
          <div class="item">
            <div class="flip"> 
              <div class="card"> 
                <div class="face front">
                  <div class="col-md-12 top-space">
                  <% if (vocabulary.image!=""){%>
                    <img src="/images/<%=vocabulary.image%>" alt="" class="image_card" ></img>
                  <%}%>
                  </div>
                  <div class="col-md-12 word_card">
                    <p class="word"><%=vocabulary.word%></p>
                    <span class="glyphicon glyphicon-play"></span>
                  </div>
                  <div class="footer">
                    <p><%=index+1%>/<%=vocabularies.length%></p>
                  </div>
                </div> 

                <div class="face back">
                  <div class="col-md-12 top-space">
                    <%i=1%>
                    <% if (vocabulary.reading!=""){%>
                      <p><%=i%>.読み方</p>
                      <p class="left-space"><%=vocabulary.reading%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.meaning!=""){%>
                      <p><%=i%>.意味</p>
                      <p class="left-space"><%=vocabulary.meaning%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.examples!=""){%>
                      <p><%=i%>.例文</p>
                      <p  class="examples left-space" 
                        data-toggle="tooltip" 
                        data-placement="right" 
                        title="Tooltip on right"><%=vocabulary.examples%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.synonymous!=""){%>
                      <p><%=i%>.同義語</p>
                      <p class="synonymous left-space"><%=vocabulary.synonymous%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.antonymous!=""){%>
                      <p><%=i%>.反対語</p>
                      <p class="antonymous left-space"><%=vocabulary.antonymous%></p>
                      <%i=i+1%>
                    <%}%>
                  </div> 
                </div>
              </div> 
            </div>
          </div>
        
        <% } %>
        <% }); %>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" ></span>
      </a>
      <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" ></span>
      </a>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4"></div>
</div>

<script>
  $(function () {
    // slide show 
    $('#carouselID').ready(function(){
      $('.carousel').carousel({
        interval: false,
        wrap: false
      });
    });

    $('.carousel-control.right').click(function(){
      if ($('#carouselID .carousel-inner .item:last').hasClass('active')) {
          /*$('#modalID').modal('show');*/
        } 
    });

    // Flip flashcard when click
    $('.flip').click(function(event){
      $(this).find('.card').toggleClass('flipped');
      return false;
    });

    // Disable flip flashcard action when click
    $('.flip .glyphicon-play,.flip .back .examples,.flip .back .synonymous,.flip .back .antonymous').click(function(e) {
        e.stopPropagation();
    });

    // pronounce vocabulary function
    var playAudio = function(word){
      io.socket.post('/vocabulary/pronounce',{word: word}, function(data) {
        var audio = new Audio("data:audio/mp3;base64," + data.audio);
        audio.play();
      });
    };

    // pronounce word which display in front of flash card
    $('.glyphicon-play').click(function(){
      var word= $('.active .front .word').text();
      playAudio(word);
    });

    // pronounce example which display in back of flash card
    $('.back .examples').click(function(){
      var word= $('.active .back .examples').text();
      playAudio(word);
    });

    // pronounce synonymous which display in back of flash card
    $('.back .synonymous').click(function(){
      var word= $('.active .back .synonymous').text();
      playAudio(word);

    });
    
    // pronounce antonymous which display in back of flash card
    $('.back .antonymous').click(function(){
      var word= $('.active .back .antonymous').text();
      playAudio(word);
    });
  });
</script>