<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  -->
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/styles/bootstrap.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  
  <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
      #carouselButtons {
        margin-left: 100px;
        position: absolute;
        bottom: 0px;
      }
  </style>
  </head>
  <body>
  <div id="tabs" class="container"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#flashcard" data-toggle="tab">Flash Card</a></li>
    <li><a href="#list" data-toggle="tab">List</a></li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="flashcard">
        <div class="well">
        <div class="carousel slide" id="myCarousel" data-ride="carousel" data-wrap="false" >
            <div class="carousel-inner" >
              <div class="item active" >
                  <img src="/images/glyphicons-halflings-white.png" width="660" height="645">
                  <div class="carousel-caption">
                    <p class="text-info"><%=vocabularies[0].word%></p>
                    <p><%=vocabularies[0].read%></p>
                    <p><%=vocabularies[0].meaning%></p>
                    <p><%=vocabularies[0].example%></p>
                  </div>
              </div>
              <% vocabularies.forEach( function( vocabulary, index){ %>
                        <% if(index > 0){ %>
              <div class="item">
                <img src="/images/glyphicons-halflings-white.png" width="660" height="645">
                  <div class="carousel-caption">
                    <p class="text-info"><%=vocabulary.word%></p>
                    <p><%=vocabulary.word%></p>
                    <p><%=vocabulary.word%></p>
                    <p><%=vocabulary.word%></p>
                  </div>
              </div>
              <% } %>
              <% }); %>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" ></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" ></span>
            </a>
            <div id="carouselButtons">
                <button id="playButton" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button id="pauseButton" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
            </div>
          </div>
        </div>
      </div>

    <div class="tab-pane" id="list">
    <div class="table-responsive">
          <!-- Table -->
      <table class="table table-striped">
      <thead>
        <tr>
        <th>No</th>
        <th>言葉</th>
        <th>読み方</th>
        <th>意味</th>
        <th>例文</th>
        <th>備考</th>
        </tr>
      </thead>
      <tbody>
      <% vocabularies.forEach( function( vocabulary, index){ %>
      <tr>
        <td><%= index= index+1 %></td>
        <td><%= vocabulary.word %></td>
        <td><%= vocabulary.read %></td>
        <td><%= vocabulary.meaning %></td>
        <td><%= vocabulary.example %></td>
        <td></td>
        <td></td>
      </tr>
      <% }); %>
      </tbody>
      </table>
    </div>
    </div>
  </div>
  </div>
  </body>
<!-- Bootstrap core JavaScript
    ================================================== -->
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript">
  $(function () {
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2000,
          wrap: false
        });
      });
        // 
      $(document).on('slid.bs.carousel', function(e) {
        if ($('.carousel-inner .item:last').hasClass('active')) {
          $('#myCarousel').carousel('pause');
        });
        
        if ($('.carousel-inner .item:first').hasClass('active')) {
              $('#myCarousel').carousel('cycle');
        });
      });


      $('#myCarousel').click(function () {
          alert('play');
      });
      $('#pauseButton').click(function () {
          //$('#myCarousel').carousel('pause');
          alert('pause');
      });
  });
  </script>

</html>