<div class="table-responsive" id="tableListID" >
    <!-- Table -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>No</th>
              <th>言葉</th>
              <th>読み方</th>
              <th>意味</th>
              <th>例文</th>
              <th>備考</th>
            </tr>
        </thead>
        <tbody>
        <% vocabularies.forEach( function( vocabulary, index){ %>
            <tr>
              <td><%= index= index+1 %></td>

              <% if (vocabulary.word) {%>
              <td><%= vocabulary.word %></td>
              <%}else {%>
              <td></td>
              <%}%>

              <% if (vocabulary.reading) {%>
              <td><%= vocabulary.reading %></td>
              <%}else {%>
              <td></td>
              <%}%>

              <% if (vocabulary.meaning) {%>
              <td><%= vocabulary.meaning %></td>
              <%}else {%>
              <td></td>
              <%}%>

              <% if (vocabulary.examples) {%>
              <td><%= vocabulary.examples %></td>
              <%}else {%>
              <td></td>
              <%}%>
              
              <td></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>