<!DOCTYPE html>
<html lang="en">
  	<head>
    <!--
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	-->
		<!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
		<style>
  			.carousel-inner > .item > img,
  			.carousel-inner > .item > a > img {
      			width: 70%;
      			margin: auto;
  			}
  		</style>
  	</head>
  	<body>

	<div class="container" >
  		<!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
				<th>No</th>
				<th>言葉</th>
				<th>読み方</th>
				<th>意味</th>
				<th>例文</th>
				<th>備考</th>
				</tr>
			</thead>
			<tbody>
			<% vocabularies.forEach( function( vocabulary, index){ %>
			<tr>
				<td><%= index= index+1 %></td>
				<td><%= vocabulary.word %></td>
				<td><%= vocabulary.read %></td>
				<td><%= vocabulary.meaning %></td>
				<td><%= vocabulary.example %></td>
				<td></td>
				<td></td>
			</tr>
			<% }); %>
			</tbody>
		</table>
  	</div>
  </body>
<!-- Bootstrap core JavaScript
    ================================================== -->
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
  		$(document).ready(function(){
    		$('.carousel').carousel({
    			interval: 10000
    		});
  		});
	</script>

</html>