<script>
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
//  arrows: true,
    fade: false,
    asNavFor: '.slider-nav',
    draggable: false,
    prevArrow: '<button type="button" data-role="none" class="btn btn-prevArrow btn-success" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow: '<button type="button" data-role="none" class="btn btn-nextArrow btn-success" aria-label="Next" tabindex="0" role="button">Next</button>'
  });
  $('.slider-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 4,
    asNavFor: '.slider-for',
    dots: false,
    centerMode: false,
    focusOnSelect: true
  });
  $('.slider-for').on('init reInit afterChange', function (event, slick, currentSlide) {
    var i = (currentSlide ? currentSlide : 0) + 1;
  });
  function checkAnswer(hanviet, hanviet2) {
    if (hanviet == hanviet2) {
      alert('Bạn đã chọn đúng');
      //Trễ 2s và next sang câu tiếp theo.
    }else{
      alert('Sai rồi');
    }
  }
</script>
<div id="vocabularyList">
  <div class="pagingInfo"></div>
  <% if(kanjis == null || kanjis.length == 0){ %>
  <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
  <% }else{ %>
  <div class="slider slider-nav">
    <% kanjis.forEach( function(kanji, index){ %>
    <div><h3><%= index + 1 %>. <%= kanji.item %></h3></div>
    <% }) %>
  </div>
  <div class="slider slider-for">
    <% kanjis.forEach( function(kanji){ %>
    <div class="slider-for-deital clearfix">
      <h4 class="text-center text-danger"><%= kanji.item %></h4>

      <% kanji.randomKanjis.forEach( function(hanviet){ %>
      <p onclick="checkAnswer('<%= hanviet %>','<%= kanji.hanviet %>')"><%= hanviet %></p>
      <% }) %>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
