<script>
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
//  arrows: true,
    fade: false,
    asNavFor: '.slider-nav',
    draggable: true,
    prevArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-left" aria-label="Previous" tabindex="0" role="button"><i class="fa fa-chevron-left"></i></button>',
    nextArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-right" aria-label="Next" tabindex="0" role="button"><i class="fa fa-chevron-right"></i></button>'
  });
  $('.slider-nav').slick({
    slidesToShow: 6,
    slidesToScroll: 6,
    asNavFor: '.slider-for',
    dots: false,
    centerMode: false,
    focusOnSelect: true,
  });
  function show(index) {
    var exam = '[custom = display-delay-' + index + ']';
    $(exam).delay(2000).slideDown();
  }
  $('.slider-for').on('init reInit afterChange', function (event, slick, currentSlide) {
    var i = (currentSlide ? currentSlide : 0) + 1;
    show(i);
  });
  function showDetails(item) {
    $('.' + item).slideDown();
  }
  $(".card").flip();
  $('span').tooltip();
  (function () {
    $("[custom = 'display-delay-1']").delay(2000).slideDown();
  })();
  var infoconfig = true;
  $(document).ready(function () {
    $('.info-off').hide();
    $('.info-on').on('click', function () {
      $('.info-off').show();
      $('.info-on').hide();
      infoconfig = false;
    });
    $('.info-off').on('click', function () {
      $('.info-on').show();
      $('.info-off').hide();
      infoconfig = true;
    });
  });
  function showDetails(item) {
    if (infoconfig) {
      $('.' + item).slideDown();
    }
  }
</script>
<div id="kanji-List">
  <% if(kanjis == null || kanjis.length == 0){ %>
  <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
  <% }else{ %>
  <div class="slider slider-for">
    <% kanjis.forEach( function(kanji, index){ %>

    <div class="learn-kanji">
      <div class="col-sm-offset-1 col-sm-10">
        <i class="fa fa-check-circle-o info-on"></i>
        <i class="fa fa-minus-circle info-off"></i>
        <label class="lable">On/Off information</label>
      </div>
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-default panel-kanji-slide">
          <div class="panel-body">
            <div class="vocabulary text-center">
              <div class="card">
                <div class="front">
                  <h4 class="text-center text-danger"
                      onclick="showDetails('<%= index %>')"><%= kanji.item %></h4>
                </div>
                <div class="back">
                  <p><img class="center-block" src="/media/image/<%=kanji.image%>"/></p>
                </div>
              </div>
            </div>
            <div class="details-voca">
              <p class="text-center not-display <%= index %>">
                <span class="lb-name-voca-mean"><%= kanji.hanviet %></span>
              </p>
              <% if(kanji.kunyomi){ %>
              <p class="not-display <%= index %>">
                <span class="glyphicon glyphicon-hand-right"></span><span
                  class="lb-on size-lb"> kunyomi :</span><span
                  class="lb-on-con size-lb"><%= kanji.kunyomi %></span>
              </p>
              <% } %>
              <% if(kanji.onyomi){ %>
              <p class="not-display <%= index %>">
                <span class="glyphicon glyphicon-hand-right"></span><span
                  class="lb-kun size-lb"> onyomi :</span><span
                  class="lb-on-kun size-lb"><%= kanji.onyomi %></span>
              </p>
              <% } %>
              <% if(kanji.description){ %>
              <p>
                            <span class="lb-mean size-lb"><span
                                class="glyphicon glyphicon-screenshot"></span> Description: <%= kanji.description %></span>
              </p>
              <% } %>

              <!--5-->
              <% if (typeof kanji.examples !== 'undefined' && kanji.examples.length > 0) { %>
              <p custom="display-delay-<%= index + 1 %>">
                <span class="glyphicon glyphicon-screenshot"></span><span class="lb-example size-lb"> Example :</span>
              </p>

              <ul custom="display-delay-<%= index + 1 %>" class="vocabulary-item-example">
                <% kanji.examples.forEach( function(item, index){ %>
                <% if (item.example == 'undefined' || item.example.length == 0){ %>
                <% }else { %>
                <li>
                                          <span data-toggle="tooltip" data-placement="right" title="<%= item.meaning %>"
                                                class="text-danger size-lb ">
                                            <%= index + 1 %>. <%= item.example %>
                                          </span>
                </li>
                <% } %>
                <% }) %>
              </ul>
              <% } %>
              <!--end 5-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
  <!--6-->
  <div class="slider slider-nav">
    <% kanjis.forEach( function(kanji, index){ %>
    <div><h3><%= index + 1 %>. <%= kanji.item %></h3></div>
    <% }) %>
  </div>
  <!--end 6-->
</div>
