<h4>Index page</h4>
<table cellpadding="5px">
    <tr>
        <th>Id</th>
        <th>Fullname</th>
        <th>Age</th>
    </tr>
    <% users.forEach(function(item){ %>
    <tr>
        <td><%= item.id %></td>
        <td><%= item.fullname %></td>
        <td><%= item.age %></td>

        <td><a href="/user/edit/<%- item.id %>">Edit</a></td>
        <td><a href="/contact/index/?id=<%- item.id %>">Manage contact</a></td>
    </tr>
    <% }) %>
</table>
<a href="/user/new">Add new</a>