<div class="row">
    <% data.forEach(function(question) { %>
    <div class="col-lg-4">
        <h2> Category <%= question.category %></h2>

        <div class="panel panel-primary">
            <div class="panel-heading" style="position: relative">
                <h3 class="panel-title"><%= question.content %></h3>
                <button type="button" style="position: absolute; top: 10px; right: 10px;" class="close delete-question"
                        data-dismiss="alert" name="<%= question.id %>">x
                </button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <% question.answers.forEach(function(item) { %>
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                <input class="my-checkbox" type="checkbox"
                                       name="<%= item.content %>"> <%= item.content %>
                            </label>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <div id="<%= question.id %>" class="btn btn-info pull-right btn-answer-ok">Ok</div>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<script>
    $(document).ready(function () {
        $('.btn-answer-ok').each(function () {
            $(this).click(function () {
                var _arr_data = [];
                var _id = $(this).attr("id");
                $(this).parent().find('.my-checkbox').each(function () {
                    if ($(this).prop("checked")) {
                        _arr_data.push($(this).attr("name"));
                    }
                });
                if (_arr_data != '' && _id != '') {
                    $.ajax({
                        method: "POST",
                        url: "confirm",
                        data: {data: _arr_data, id: _id}
                    })
                            .done(function (msg) {
                                alert(msg);
                            });
                } else {
                    alert('Please choose your option');
                }
            })
        });

        $('.delete-question').each(function () {
            $(this).click(function () {
                var _id = $(this).attr('name');
                $.ajax({
                    method: "POST",
                    url: "deleteQuestion",
                    data: {id: _id}
                })
                        .done(function (msg) {
                            alert(msg);
                        });
            })

        })
    })
</script>